Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}
  stage_fixed: true

lint-bridge:
  run: uv run ruff check --fix src tests && uv run ruff format src tests
  stage_fixed: true

yaml-lint:
  run: yamllint {files}

fix(bridge): improve cross-platform formatting fidelity
  apps/bridge/src/bridge/formatting/discord_to_irc.py
  apps/bridge/src/bridge/formatting/irc_message_split.py
  apps/bridge/src/bridge/formatting/irc_to_discord.py
  apps/bridge/src/bridge/formatting/irc_to_xmpp.py
  apps/bridge/src/bridge/formatting/xmpp_to_discord.py
  apps/bridge/src/bridge/formatting/xmpp_to_irc.py
  apps/bridge/tests/test_formatting.py
Due: lint-bridge

fix(bridge): fix XMPP adapter origin-aware formatting and retraction
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/tests/test_xmpp_adapter.py
  apps/bridge/tests/test_xmpp_component.py
Due: lint-bridge

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: yaml-lint

Notes added by 'git notes add'
  db564f0d4300c13a76b9e04d388199ae753497bd
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

docs: sync AGENTS.md and apps/docs with codebase — add ObsidianIRC, update commands, fix outdated references
  AGENTS.md
  README.md
  apps/bridge/AGENTS.md
  apps/bridge/src/AGENTS.md
  apps/bridge/src/bridge/formatting/AGENTS.md
  apps/bridge/tests/AGENTS.md
  apps/docs/content/docs/architecture/data-model.mdx
  apps/docs/content/docs/architecture/index.mdx
  apps/docs/content/docs/architecture/networking.mdx
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/operations/deployment.mdx
  apps/docs/content/docs/reference/environment-variables.mdx
  apps/docs/content/docs/reference/faq.mdx
  apps/docs/content/docs/reference/glossary.mdx
  apps/docs/content/docs/reference/ports.mdx
  apps/obsidianirc/AGENTS.md
  apps/obsidianirc/README.md
  apps/unrealircd/AGENTS.md
  infra/AGENTS.md
  infra/README.md
Due: none

feat(infra): add fluux-messenger service and env examples
  .env.dev.example
  .env.example
  apps/fluux-messenger/Containerfile
  apps/fluux-messenger/docker-entrypoint.sh
  apps/fluux-messenger/nginx-plain.conf.template
  apps/fluux-messenger/nginx-tls.conf.template
  compose.yaml
  infra/compose/fluux-messenger.yaml
Due: yaml-lint

feat(unrealircd): update config template and third-party modules
  apps/unrealircd/config/unrealircd.conf.template
  apps/unrealircd/third-party-modules.list
Due: none

feat(atheme): update config template
  apps/atheme/config/atheme.conf.template
Due: none

feat(prosody): add audit commands, modules, and config updates
  apps/prosody/AGENTS.md
  apps/prosody/config/prosody.cfg.lua
  apps/prosody/justfile
  apps/prosody/modules.list
Due: lint-xmpp

refactor(bridge): add IR-based formatting system
  apps/bridge/src/bridge/formatting/converter.py
  apps/bridge/src/bridge/formatting/irc_codes.py
  apps/bridge/src/bridge/formatting/markdown.py
  apps/bridge/src/bridge/formatting/paste.py
  apps/bridge/src/bridge/formatting/primitives.py
  apps/bridge/src/bridge/formatting/splitter.py
  apps/bridge/src/bridge/formatting/xmpp_styling.py
Due: lint-bridge

refactor(bridge): add tracking, identity, config, and gateway pipeline modules
  apps/bridge/src/bridge/config/AGENTS.md
  apps/bridge/src/bridge/config/__init__.py
  apps/bridge/src/bridge/config/loader.py
  apps/bridge/src/bridge/config/schema.py
  apps/bridge/src/bridge/gateway/AGENTS.md
  apps/bridge/src/bridge/gateway/msgid_resolver.py
  apps/bridge/src/bridge/gateway/pipeline.py
  apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/src/bridge/gateway/steps.py
  apps/bridge/src/bridge/identity/AGENTS.md
  apps/bridge/src/bridge/identity/__init__.py
  apps/bridge/src/bridge/identity/base.py
  apps/bridge/src/bridge/identity/dev.py
  apps/bridge/src/bridge/identity/portal.py
  apps/bridge/src/bridge/identity/sanitize.py
  apps/bridge/src/bridge/tracking/AGENTS.md
  apps/bridge/src/bridge/tracking/__init__.py
  apps/bridge/src/bridge/tracking/base.py
  apps/bridge/src/bridge/tracking/message_ids.py
Due: lint-bridge

refactor(bridge): decompose adapters into handlers, outbound, avatar, media
  apps/bridge/src/bridge/adapters/discord/adapter.py
  apps/bridge/src/bridge/adapters/discord/avatar.py
  apps/bridge/src/bridge/adapters/discord/handlers.py
  apps/bridge/src/bridge/adapters/discord/media.py
  apps/bridge/src/bridge/adapters/discord/outbound.py
  apps/bridge/src/bridge/adapters/irc/__init__.py
  apps/bridge/src/bridge/adapters/irc/client.py
  apps/bridge/src/bridge/adapters/irc/handlers.py
  apps/bridge/src/bridge/adapters/irc/outbound.py
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/avatar.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/media.py
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
Due: lint-bridge

refactor(bridge): update entry point for new module structure
  apps/bridge/src/bridge/__main__.py
Due: lint-bridge

docs(bridge): update all AGENTS.md and README for post-refactor structure
  apps/bridge/AGENTS.md
  apps/bridge/README.md
  apps/bridge/src/AGENTS.md
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/formatting/AGENTS.md
  apps/bridge/tests/AGENTS.md
  apps/bridge/tests/README.md
Due: none

docs: add fluux-messenger to monorepo AGENTS.md structure and Related
  AGENTS.md
Due: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  f257bccb53e0f1ccb7a1922c688e40a222139979
Due: none

refactor(bridge): remove legacy direct converters
  apps/bridge/AGENTS.md
  apps/bridge/README.md
  apps/bridge/src/bridge/adapters/irc/outbound.py
  apps/bridge/src/bridge/adapters/irc/puppet.py
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/formatting/AGENTS.md
  apps/bridge/src/bridge/formatting/__init__.py
  apps/bridge/src/bridge/formatting/discord_to_irc.py
  apps/bridge/src/bridge/formatting/irc_message_split.py
  apps/bridge/src/bridge/formatting/irc_to_discord.py
  apps/bridge/src/bridge/formatting/irc_to_xmpp.py
  apps/bridge/src/bridge/formatting/splitter.py
  apps/bridge/src/bridge/formatting/xmpp_to_discord.py
  apps/bridge/src/bridge/formatting/xmpp_to_irc.py
  apps/bridge/tests/AGENTS.md
  apps/bridge/tests/unit/formatting/test_formatting.py
  apps/bridge/tests/unit/irc/test_irc_message_split_utf8.py
Due: lint-bridge

docs: update stale test filter example in testing.mdx
  apps/docs/content/docs/development/testing.mdx
Due: none

docs(bridge): fix stale AGENTS.md content in gateway and formatting
  apps/bridge/src/bridge/formatting/AGENTS.md
  apps/bridge/src/bridge/gateway/AGENTS.md
Due: none

fix(bridge): close 5 audit gaps from spec cross-reference
  apps/bridge/src/bridge/adapters/discord/handlers.py
  apps/bridge/src/bridge/adapters/irc/client.py
  apps/bridge/src/bridge/adapters/irc/handlers.py
  apps/bridge/src/bridge/adapters/irc/outbound.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
  apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/src/bridge/gateway/steps.py
  apps/bridge/tests/unit/discord/test_discord_voice_message.py
  apps/bridge/tests/unit/xmpp/test_xmpp_component_outbound.py
Due: lint-bridge

docs(bridge): add contextual comments across bridge codebase
  apps/bridge/src/bridge/adapters/discord/handlers.py
  apps/bridge/src/bridge/adapters/discord/media.py
  apps/bridge/src/bridge/adapters/discord/webhook.py
  apps/bridge/src/bridge/adapters/irc/client.py
  apps/bridge/src/bridge/adapters/irc/handlers.py
  apps/bridge/src/bridge/adapters/irc/outbound.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/media.py
  apps/bridge/src/bridge/adapters/xmpp/msgid.py
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
  apps/bridge/src/bridge/config/schema.py
  apps/bridge/src/bridge/formatting/discord_to_xmpp.py
  apps/bridge/src/bridge/formatting/irc_codes.py
  apps/bridge/src/bridge/formatting/primitives.py
  apps/bridge/src/bridge/formatting/splitter.py
  apps/bridge/src/bridge/formatting/xmpp_styling.py
  apps/bridge/src/bridge/gateway/msgid_resolver.py
  apps/bridge/src/bridge/gateway/pipeline.py
  apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/src/bridge/gateway/router.py
  apps/bridge/src/bridge/gateway/steps.py
  apps/bridge/src/bridge/identity/portal.py
  apps/bridge/src/bridge/tracking/base.py
  apps/bridge/src/bridge/tracking/message_ids.py
Due: lint-bridge

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  fddee447eb38125f3938d2eccdd60b553fc31a54
Due: none

docs: update README with new services and CI/CD documentation
  README.md
Due: none

fix(irc): store initial nick, protect channel joins, add IRCv3 cap handlers
  apps/bridge/src/bridge/adapters/irc/client.py
Due: lint-bridge

fix(irc): fix broken nick revert and add echo suppression to CTCP ACTION
  apps/bridge/src/bridge/adapters/irc/handlers.py
Due: lint-bridge

perf(irc): throttle MessageIDTracker cleanup to once per minute
  apps/bridge/src/bridge/adapters/irc/msgid.py
Due: lint-bridge

fix(irc): close multiline BATCH in finally block, add draft/multiline support
  apps/bridge/src/bridge/adapters/irc/outbound.py
Due: lint-bridge

fix(irc): add puppet channel join and per-user creation lock
  apps/bridge/src/bridge/adapters/irc/puppet.py
Due: lint-bridge

feat(bridge): add chathistory config options to schema
  apps/bridge/src/bridge/config/schema.py
Due: lint-bridge

test(irc): fix CTCP ACTION test mock for echo suppression attributes
  apps/bridge/tests/unit/irc/test_irc_ctcp_action.py
Due: lint-bridge

feat(unrealircd): add third/display-name and third/block_masshighlight
  apps/unrealircd/config/unrealircd.conf.template
Due: none

feat(unrealircd): add display-name and block_masshighlight to module manifest
  apps/unrealircd/third-party-modules.list
Due: none

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  f7fa5454d6348d645e49f55029d0570a79f9e037
Due: none

chore(config): disable various NickServ and ChanServ commands for Portal management
  apps/atheme/config/atheme.conf.template
Due: none

feat(discord): link Discord ID to IRC message ID for reaction support
  apps/bridge/src/bridge/adapters/discord/adapter.py
Due: lint-bridge

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: apps/web/**/*.{js,ts,jsx,tsx} and ^apps/web/
  lint-bridge: any of: apps/bridge/**/*.py and ^apps/bridge/
  yaml-lint: any of: *.{yml,yaml}
