Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: npx eslint {files}

yaml-lint:
  run: yamllint {files}

feat: Implement PROXY protocol support for UnrealIRCd, configure TLS termination via Nginx Proxy Manager, bind IRC ports to an internal IP, and rename development services.
  .env.example
  apps/irc/compose.yaml
  apps/irc/services/unrealircd/config/unrealircd.conf.template
  compose.yaml
Due: yaml-lint

refactor(scripts): update directory structure and improve SSL management
  apps/irc/scripts/init.sh
  apps/irc/scripts/prepare-config.sh
  apps/irc/scripts/ssl-manager.sh
Due: lint-irc

fix(atheme.conf.template): unify password variables for send and receive operations
  apps/irc/services/atheme/config/atheme.conf.template
Due: none

feat(unrealircd): update configuration for improved security and flexibility
  apps/irc/services/unrealircd/config/tls/curl-ca-bundle.crt
  apps/irc/services/unrealircd/config/unrealircd.conf.template
Due: none

refactor(scripts): update paths and default container name for UnrealIRCd
  apps/irc/services/unrealircd/scripts/generate-oper-password.sh
  apps/irc/services/unrealircd/scripts/manage-modules.sh
  apps/irc/services/unrealircd/scripts/module-config.sh
Due: lint-irc

feat(unrealircd): add support for third-party module installation
  apps/irc/services/unrealircd/Containerfile
  apps/irc/services/unrealircd/config.settings
  apps/irc/services/unrealircd/docker-entrypoint.sh
Due: lint-irc

refactor(compose.yaml, justfile): update directory path for UnrealIRCd configuration
  apps/irc/compose.yaml
  apps/irc/justfile
Due: yaml-lint

chore(prosody.cfg.lua): remove redundant plugin path from configuration
  apps/xmpp/services/prosody/config/prosody.cfg.lua
Due: lint-xmpp

refactor(setup-modules-locally.sh): read modules from file for flexibility
  apps/xmpp/services/prosody/scripts/setup-modules-locally.sh
  apps/xmpp/services/prosody/scripts/setup/entrypoint.sh
Due: none

feat(prosody): integrate community modules and improve module management
  apps/xmpp/services/prosody/Containerfile
  apps/xmpp/services/prosody/modules.list
Due: none

fix(compose.yaml): remove read-only restriction on certs volume
  apps/xmpp/compose.yaml
Due: yaml-lint

chore(networks.yaml): remove static IPAM configuration from atl-chat network
  infra/docker/compose/networks.yaml
Due: yaml-lint

chore(compose.yaml): comment out services and configurations
  apps/bridge/compose.yaml
Due: yaml-lint

chore(gitignore): add additional directories and config files to ignore list
  .gitignore
  justfile
Due: none

refactor(irc): simplify justfile by removing redundant commands and centralizing lifecycle management
  apps/irc/justfile
  apps/irc/scripts/init.sh
  apps/irc/services/atheme/config/atheme.conf.template
  apps/xmpp/compose.yaml
  apps/xmpp/justfile
  apps/xmpp/services/prosody/config/conf.d/00-core.cfg.lua
  apps/xmpp/services/prosody/modules.list
  compose.yaml
  justfile
Due: lint-irc, lint-xmpp, yaml-lint

refactor(prosody): consolidate configuration files into a single file
  apps/xmpp/services/prosody/config/conf.d/00-core.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/05-network.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/11-logging.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/21-security.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/25-push-notifications.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/30-vhosts-components.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/90-contact-compliance.cfg.lua
  apps/xmpp/services/prosody/config/prosody.cfg.lua
Due: lint-xmpp

feat(prosody): add mod_cloud_notify_filters to modules list
  apps/xmpp/services/prosody/modules.list
Due: none

fix(run.sh): change shebang from bash to sh for broader compatibility chore(run.sh): modify behavior when CLOUDFLARE_DNS_API_TOKEN is unset
  infra/docker/cert-manager/scripts/run.sh
Due: none

Initial commit
  LICENSE
Due: none

docs: add references-analyzer documentation for project reference analysis
  .cursor/agents/references-analyzer.md
Due: none

feat(ci): add CI workflow for linting and testing with multiple Python versions
  .github/workflows/ci.yml
Due: yaml-lint

feat(adapter): implement IRC adapter for message handling and outbound queue management
  src/bridge/adapters/irc.py
Due: none

feat(adapter): add Discord adapter for message handling and webhook integration
  src/bridge/adapters/disc.py
Due: none

feat(vscode): add VSCode settings for Python, shell scripting, and markdown formatting
  .vscode/settings.json
Due: none

docs: init plan
  .cursor/plans/custom_discord_irc_xmpp_bridge_0068eac0.plan.md
Due: none

feat(adapter): implement XMPP adapter for MUC client and outbound message handling
  src/bridge/adapters/xmpp.py
Due: none

feat(adapter): implement base interface for protocol adapters with event handling methods
  src/bridge/adapters/base.py
Due: none

feat: add cursor commands
  .cursor/commands/accessibility-audit.md
  .cursor/commands/add-documentation.md
  .cursor/commands/add-error-handling.md
  .cursor/commands/address-github-pr-comments.md
  .cursor/commands/clarify-task.md
  .cursor/commands/code-review.md
  .cursor/commands/create-pr.md
  .cursor/commands/database-migration.md
  .cursor/commands/debug-issue.md
  .cursor/commands/deslop.md
  .cursor/commands/diagrams.md
  .cursor/commands/docker-logs.md
  .cursor/commands/fix-compile-errors.md
  .cursor/commands/fix-git-issues.md
  .cursor/commands/generate-api-docs.md
  .cursor/commands/generate-pr-description.md
  .cursor/commands/git-commit.md
  .cursor/commands/git-push.md
  .cursor/commands/light-review-existing-diffs.md
  .cursor/commands/lint-fix.md
  .cursor/commands/lint-suite.md
  .cursor/commands/onboard-new-developer.md
  .cursor/commands/optimize-performance.md
  .cursor/commands/overview.md
  .cursor/commands/refactor-code.md
  .cursor/commands/roadmap.md
  .cursor/commands/run-all-tests-and-fix.md
  .cursor/commands/security-audit.md
  .cursor/commands/security-review.md
  .cursor/commands/setup-new-feature.md
  .cursor/commands/visualize.md
  .cursor/commands/write-unit-tests.md
Due: none

feat(router): implement channel router for mapping Discord, IRC, and XMPP channels
  src/bridge/gateway/router.py
Due: none

chore(justfile): add Justfile for task automation including sync, test, lint, format, and CI pipeline
  justfile
Due: none

feat(config): add configuration management with YAML support and environment overlay
  src/bridge/config.py
Due: none

feat(identity): implement PortalClient and IdentityResolver for managing user identities across Discord, IRC, and XMPP with TTL caching
  src/bridge/identity.py
Due: none

feat(bus): implement Event Bus for central event dispatching among adapters
  src/bridge/gateway/bus.py
Due: none

feat(container): add Containerfile for building ATL Bridge with uv for dependency management and configuration
  Containerfile
Due: none

chore(setup): add pyproject.toml and uv.lock for project configuration and dependency management
  pyproject.toml
  uv.lock
Due: none

feat(docs): add README.md with project overview, features, setup instructions, and configuration details for ATL Bridge
  README.md
Due: none

feat(adapter): add base module for protocol adapters including Discord and IRC
  src/bridge/adapters/__init__.py
Due: none

feat(tests): add comprehensive test suite for configuration, events, gateway, and Discord adapter functionality
  tests/__init__.py
  tests/conftest.py
  tests/test_config.py
  tests/test_discord_adapter.py
  tests/test_events.py
  tests/test_gateway.py
Due: none

feat(gateway): introduce Gateway module for event bus, channel routing, and relay integration
  src/bridge/gateway/__init__.py
Due: none

Path conditions:
  lint-irc: any of: *.sh and ^apps/irc/
  lint-xmpp: any of: *.lua
  lint-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  yaml-lint: any of: *.{yml,yaml}
