Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lefthook.yml:

# Lefthook - Git Hook Manager for Polyglot Monorepo
# Configured for parallel execution and path filtering

pre-commit:
  parallel: true
  commands:
    lint-irc:
      root: .
      glob: "scripts/**/*.sh"
      run: shellcheck {files}
    lint-xmpp:
      glob: "*.lua"
      run: luacheck {files}
    lint-web:
      root: apps/web/
      glob: "apps/web/**/*.{js,ts,jsx,tsx}"
      run: pnpm run fix {files} && pnpm run check {files}
      stage_fixed: true
    lint-bridge:
      root: apps/bridge/
      glob: "apps/bridge/**/*.py"
      run: uv run ruff check --fix src tests && uv run ruff format src tests
      stage_fixed: true
    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint {files}

feat(irc): handle REDACT errors gracefully in on_raw_fail method
  apps/bridge/src/bridge/adapters/irc/client.py
Due: lint-bridge

fix(irc): improve logging for missing Discord IDs in handle_tagmsg
  apps/bridge/src/bridge/adapters/irc/handlers.py
Due: lint-bridge

feat(irc): add method to manage Discord ID aliases for message tracking
  apps/bridge/src/bridge/adapters/irc/msgid.py
Due: lint-bridge

feat(xmpp): normalize strikethrough formatting and add spoiler support
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
Due: lint-bridge

feat(xmpp): add spoiler parameters to message sending
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

feat(xmpp): add method to update Discord ID in message mapping
  apps/bridge/src/bridge/adapters/xmpp/msgid.py
Due: lint-bridge

feat(xmpp): enhance message sending with spoiler handling
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
Due: lint-bridge

feat(xmpp): enhance strikethrough formatting for Discord compatibility
  apps/bridge/src/bridge/formatting/xmpp_styling.py
Due: lint-bridge

feat(irc): add method for linking Discord ID aliases to IRC tracker
  apps/bridge/src/bridge/gateway/msgid_resolver.py
Due: lint-bridge

feat(xmpp): propagate spoiler flag in relay messages
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

feat(xmpp): support raw content passthrough from Discord to XMPP
  apps/bridge/src/bridge/gateway/steps.py
Due: lint-bridge

test(formatting): add inline code conversion tests for Discord, XMPP, and IRC
  apps/bridge/tests/unit/formatting/test_converter.py
Due: lint-bridge

test(formatting): add test for Discord-style strikethrough parsing
  apps/bridge/tests/unit/formatting/test_xmpp_styling.py
Due: lint-bridge

test(formatting): add passthrough test for Discord to XMPP content
  apps/bridge/tests/unit/gateway/test_pipeline_steps.py
Due: lint-bridge

test(tracking): add tests for Discord ID aliasing in MessageIDTracker
  apps/bridge/tests/unit/tracking/test_irc_msgid.py
Due: lint-bridge

test(tracking): add test for updating Discord ID propagation to stanza ID alias
  apps/bridge/tests/unit/tracking/test_xmpp_msgid.py
Due: lint-bridge

test(xmpp): add tests for spoiler handling in outbound messages
  apps/bridge/tests/unit/xmpp/test_xmpp_adapter.py
Due: lint-bridge

fix(config): update relaymsg configuration for clean nick handling
  apps/bridge/config.example.yaml
  apps/bridge/config.template.yaml
Due: yaml-lint

refactor(config): blacklist unnecessary modules and refining authentication requirements
  apps/unrealircd/config/unrealircd.conf.template
Due: none

feat(redact): implement REDACT functionality with improved validation and configuration
  apps/unrealircd/contrib/redact/redact-atl.c
Due: none

refactor(relaymsg): update relaymsg-atl for clean nick handling and configuration improvements
  apps/unrealircd/contrib/relaymsg/relaymsg-atl.c
Due: none

chore(modules): update third-party modules list to reflect changes in redact and relaymsg-atl
  apps/unrealircd/third-party-modules.list
Due: none

chore(container): add redact-atl module to UnrealIRCd build process
  apps/unrealircd/Containerfile
Due: none

chore(config): add BRIDGE_IRC_REDACT_ENABLED environment variable to bridge.yaml
  infra/compose/bridge.yaml
Due: yaml-lint

refactor(init): standardize formatting and improve readability in init.sh
  scripts/init.sh
Due: none

chore(env): disable unused services in .env.example
  .env.example
Due: none

docs(agents): update AGENTS.md
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/unrealircd/AGENTS.md
  infra/AGENTS.md
Due: none

docs(bridge): update README and AGENTS.md for test count and configuration details
  README.md
  apps/bridge/AGENTS.md
  apps/bridge/README.md
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  f7a7daa97f53833f63232588c315ceace3eb01bb
Due: none

feat(discord): add caching for recently deleted messages in DiscordAdapter
  apps/bridge/src/bridge/adapters/discord/adapter.py
Due: lint-bridge

fix(discord): skip processing of raw message deletes initiated by the adapter
  apps/bridge/src/bridge/adapters/discord/handlers.py
Due: lint-bridge

feat(discord): enhance message deletion handling with recently deleted tracking
  apps/bridge/src/bridge/adapters/discord/outbound.py
Due: lint-bridge

fix(discord): improve channel retrieval by adding API fallback
  apps/bridge/src/bridge/adapters/discord/webhook.py
Due: lint-bridge

fix(irc): correct TAGMSG syntax for typing status
  apps/bridge/src/bridge/adapters/irc/adapter.py
Due: lint-bridge

fix(irc): enhance REDACT handling to prevent duplicate processing
  apps/bridge/src/bridge/adapters/irc/handlers.py
Due: lint-bridge

feat(irc): add origin tracking for IRC message IDs
  apps/bridge/src/bridge/adapters/irc/msgid.py
Due: lint-bridge

feat(xmpp): enhance message deletion handling to support user retraction
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
Due: lint-bridge

feat(xmpp): add cache for recently moderated messages to improve echo handling
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge
