Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lefthook.yml:

# Lefthook - Git Hook Manager for Polyglot Monorepo
# Configured for parallel execution and path filtering

pre-commit:
  parallel: true
  commands:
    lint-irc:
      root: .
      glob: "scripts/**/*.sh"
      run: shellcheck {files}
    lint-xmpp:
      glob: "*.lua"
      run: luacheck {files}
    lint-web:
      root: apps/web/
      glob: "apps/web/**/*.{js,ts,jsx,tsx}"
      run: pnpm run fix {files} && pnpm run check {files}
      stage_fixed: true
    lint-bridge:
      root: apps/bridge/
      glob: "apps/bridge/**/*.py"
      run: uv run ruff check --fix src tests && uv run ruff format src tests
      stage_fixed: true
    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint {files}

feat(discord): implement comprehensive Discord adapter functionality
  apps/bridge/src/bridge/adapters/discord/adapter.py
Due: lint-bridge

feat(discord): implement outbound handlers for message interactions
  apps/bridge/src/bridge/adapters/discord/handlers.py
Due: lint-bridge

feat(discord): add Discord webhook utilities for message handling
  apps/bridge/src/bridge/adapters/discord/webhook.py
Due: lint-bridge

feat(irc): add initial IRC adapter package
  apps/bridge/src/bridge/adapters/irc/__init__.py
Due: lint-bridge

feat(irc): implement IRC adapter with event handling and message management
  apps/bridge/src/bridge/adapters/irc/adapter.py
Due: lint-bridge

feat(irc): add IRC client implementation with connection management and event handling
  apps/bridge/src/bridge/adapters/irc/client.py
Due: lint-bridge

feat(irc): implement message ID and reaction tracking with TTL cache
  apps/bridge/src/bridge/adapters/irc/msgid.py
Due: lint-bridge

feat(irc): add IRC puppet manager for per-Discord-user connections
  apps/bridge/src/bridge/adapters/irc/puppet.py
Due: lint-bridge

feat(irc): implement token bucket for IRC message rate limiting
  apps/bridge/src/bridge/adapters/irc/throttle.py
Due: lint-bridge

feat(xmpp): add initial XMPP adapter package
  apps/bridge/src/bridge/adapters/xmpp/__init__.py
Due: lint-bridge

feat(xmpp): implement XMPP adapter with multi-presence and outbound queue
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
Due: lint-bridge

feat(xmpp): add XMPP component for multi-presence bridging
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

feat(xmpp): implement XMPP message ID tracking with TTL cache
  apps/bridge/src/bridge/adapters/xmpp/msgid.py
Due: lint-bridge

refactor(adapter): update base adapter documentation and interface description
  apps/bridge/src/bridge/adapters/base.py
Due: lint-bridge

refactor(adapter): update adapter documentation and include XMPPAdapter
  apps/bridge/src/bridge/adapters/__init__.py
Due: lint-bridge

refactor(adapter): restructure adapter documentation and update layout
  apps/bridge/src/bridge/adapters/AGENTS.md
Due: none

refactor(adapter): remove deprecated IRC and XMPP adapter files
  apps/bridge/src/bridge/adapters/disc.py
  apps/bridge/src/bridge/adapters/irc.py
  apps/bridge/src/bridge/adapters/irc_msgid.py
  apps/bridge/src/bridge/adapters/irc_puppet.py
  apps/bridge/src/bridge/adapters/irc_throttle.py
  apps/bridge/src/bridge/adapters/xmpp.py
  apps/bridge/src/bridge/adapters/xmpp_component.py
  apps/bridge/src/bridge/adapters/xmpp_msgid.py
Due: lint-bridge

feat(config): introduce configuration management with YAML and environment overlay
  apps/bridge/src/bridge/config/__init__.py
  apps/bridge/src/bridge/config/loader.py
  apps/bridge/src/bridge/config/schema.py
Due: lint-bridge

feat(core): introduce core domain primitives for event handling and error management
  apps/bridge/src/bridge/core/__init__.py
  apps/bridge/src/bridge/core/constants.py
  apps/bridge/src/bridge/core/errors.py
  apps/bridge/src/bridge/core/events.py
Due: lint-bridge

docs(gateway): update AGENTS.md to include MessageIDResolver protocol
  apps/bridge/src/bridge/gateway/AGENTS.md
Due: none

fix(gateway): update import path for Dispatcher and EventTarget
  apps/bridge/src/bridge/gateway/bus.py
Due: lint-bridge

feat(gateway): implement MessageIDResolver for cross-protocol message ID resolution
  apps/bridge/src/bridge/gateway/msgid_resolver.py
Due: lint-bridge

feat(gateway): enhance Relay class with channel mapping and event emission
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

feat(identity): add DevIdentityResolver for IRC nick mapping
  apps/bridge/src/bridge/identity/dev.py
Due: lint-bridge

feat(identity): implement PortalClient and IdentityResolver for identity management
  apps/bridge/src/bridge/identity/portal.py
Due: lint-bridge

feat(identity): add __init__.py for identity module
  apps/bridge/src/bridge/identity/__init__.py
Due: lint-bridge

fix(bridge): update DiscordAdapter import and enhance SIGHUP reload handling
  apps/bridge/src/bridge/__main__.py
Due: lint-bridge

refactor(bridge): reorganize modules and enhance documentation
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/config.py
  apps/bridge/src/bridge/errors.py
  apps/bridge/src/bridge/events.py
  apps/bridge/src/bridge/identity.py
Due: lint-bridge

refactor(bridge): update AGENTS.md for module restructuring
  apps/bridge/src/AGENTS.md
Due: none

test(bridge): enhance tests for Discord and IRC adapters, update AGENTS.md
  apps/bridge/tests/AGENTS.md
  apps/bridge/tests/test_config.py
  apps/bridge/tests/test_discord_adapter.py
  apps/bridge/tests/test_irc_adapter.py
  apps/bridge/tests/test_irc_adapter_extended.py
  apps/bridge/tests/test_irc_client.py
  apps/bridge/tests/test_irc_exceptions.py
  apps/bridge/tests/test_irc_msgid.py
  apps/bridge/tests/test_irc_puppet.py
  apps/bridge/tests/test_irc_threading.py
  apps/bridge/tests/test_xmpp_adapter.py
  apps/bridge/tests/test_xmpp_component.py
  apps/bridge/tests/test_xmpp_component_outbound.py
  apps/bridge/tests/test_xmpp_msgid.py
Due: lint-bridge

refactor(bridge): update AGENTS.md for enhanced module organization
  apps/bridge/AGENTS.md
Due: none

feat(bridge): discord-ircv3 audit - media fetch, strikethrough, mentions, OOB
  .luacheckrc
  apps/bridge/src/bridge/adapters/discord/adapter.py
  apps/bridge/src/bridge/adapters/discord/webhook.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/src/bridge/formatting/irc_to_discord.py
  apps/bridge/src/bridge/formatting/mention_resolution.py
  apps/bridge/tests/test_discord_adapter.py
  apps/bridge/tests/test_formatting.py
  apps/bridge/tests/test_mention_resolution.py
  apps/bridge/tests/test_xmpp_component.py
Due: lint-bridge

feat(bridge): implement discord-ircv3 audit features for media, strikethrough, and mentions
  .cursor/plans/discord-ircv3_audit_implementation_d414f844.plan.md
  apps/bridge/README.md
Due: none

docs(bridge): update README for clarity and feature enhancements
  apps/bridge/README.md
Due: none

docs(bridge): update AGENTS.md for command consistency and new features
  apps/bridge/AGENTS.md
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/formatting/AGENTS.md
  apps/bridge/tests/AGENTS.md
Due: none

feat: Implement Nginx HTTPS proxy for Prosody, add XMPP component reconnection backoff, and re-upload extensionless image URLs.
  .env.dev.example
  apps/bridge/src/bridge/adapters/discord/adapter.py
  apps/bridge/src/bridge/adapters/discord/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/tests/test_xmpp_component.py
  apps/prosody/config/prosody.cfg.lua
  apps/prosody/docker-entrypoint.sh
  infra/compose/bridge.yaml
  infra/compose/xmpp.yaml
  infra/nginx/Dockerfile
  infra/nginx/docker-entrypoint.sh
  infra/nginx/prosody-https.conf.template
Due: lint-xmpp, lint-bridge, yaml-lint

docs: add Cursor Cloud specific instructions to AGENTS.md
  AGENTS.md
Due: none

fix(irc): exempt Docker network from DNSBL and connect-flood bans
  apps/unrealircd/config/unrealircd.conf.template
Due: none

fix(bridge): patch cfg.irc_relaymsg_clean_nicks in RELAYMSG test
  apps/bridge/tests/test_irc_client.py
Due: lint-bridge

Add comprehensive UnrealIRCd configuration audit report
  docs/audits/unrealircd-config-audit.md
Due: none
