Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lefthook.yml:

# Lefthook - Git Hook Manager for Polyglot Monorepo
# Configured for parallel execution and path filtering

pre-commit:
  parallel: true
  commands:
    lint-irc:
      root: .
      glob: "scripts/**/*.sh"
      run: shellcheck {files}
    lint-xmpp:
      glob: "*.lua"
      run: luacheck {files}
    lint-web:
      root: apps/web/
      glob: "apps/web/**/*.{js,ts,jsx,tsx}"
      run: pnpm run fix {files} && pnpm run check {files}
      stage_fixed: true
    lint-bridge:
      root: apps/bridge/
      glob: "apps/bridge/**/*.py"
      run: uv run ruff check --fix src tests && uv run ruff format src tests
      stage_fixed: true
    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint {files}

Add comprehensive Atheme config audit report
  apps/atheme/AUDIT_REPORT.md
Due: none

fix(irc): address critical and warning findings from config audit
  .env.example
  apps/unrealircd/config/unrealircd.conf.template
Due: none

fix(atheme): address critical and warning findings from config audit
  apps/atheme/config/atheme.conf.template
Due: none

fix(irc): apply findings from deep wiki documentation review
  apps/unrealircd/config/unrealircd.conf.template
Due: none

fix(prosody): address critical findings from docs cross-reference audit
  .env.dev.example
  .env.example
  apps/prosody/config/prosody.cfg.lua
  docs/audits/prosody-config-audit.md
Due: lint-xmpp

docs: exhaustive env var audit across atl.chat monorepo
  ENV_AUDIT.md
Due: none

refactor(env): 12-factor cleanup of .env.example
  .env.example
  docs/audits/env-var-audit.md
Due: none

fix: address dev/prod lifecycle gaps from audit
  .env.example
  docs/audits/dev-prod-lifecycle-audit.md
  justfile
  scripts/prepare-config.sh
Due: none

feat: add two-server deployment guide and proxy trust config
  apps/prosody/config/prosody.cfg.lua
  apps/unrealircd/config/unrealircd.conf.template
  docs/deployment.md
Due: lint-xmpp

fix(irc): migrate webirc to proxy block syntax, use x-forwarded for NPM
  apps/unrealircd/config/unrealircd.conf.template
  docs/deployment.md
Due: none

feat(xmpp): add mod_http_oauth2 for Bearer token auth
  apps/prosody/config/prosody.cfg.lua
  apps/prosody/modules.list
Due: lint-xmpp

refactor(bridge): rename atl-bridge identifiers to bridge for consistency across the codebase
  .cursor/plans/agents.md_audit_plan_0e4a4132.plan.md
  .cursor/plans/atl.chat_codebase_architecture_audit_a6482578.plan.md
  .cursor/plans/bridge_codebase_architecture_audit_24b32b4a.plan.md
  .cursor/plans/custom_discord_irc_xmpp_bridge_0068eac0.plan.md
  .cursor/plans/the_lounge_integration_3ba6e863.plan.md
  .env.example
  .luacheckrc
  AGENTS.md
  apps/bridge/README.md
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/adapters/irc/adapter.py
  apps/bridge/src/bridge/adapters/irc/client.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/prosody/config/prosody.cfg.lua
  apps/unrealircd/config/unrealircd.conf.template
  docs/AGENTS.md
  docs/audits/env-var-audit.md
  docs/audits/unrealircd-config-audit.md
  infra/AGENTS.md
Due: lint-xmpp, lint-bridge

chore(prosody): harden oauth2 config and update feeds
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

chore(atheme): fix stale line reference in config template
  apps/atheme/config/atheme.conf.template
Due: none

refactor(justfile): remove staging targets and harden prod flow
  justfile
Due: none

refactor(scripts): remove staging logic and improve env safety
  scripts/prepare-config.sh
Due: none

docs: remove staging env and add SRA bootstrap guide
  README.md
Due: none

docs(deployment): remove staging and harden just installation
  docs/deployment.md
Due: none

docs(irc): remove staging references from config guide
  docs/services/irc/CONFIG.md
Due: none

docs(irc): simplify CI/CD to production only
  docs/services/irc/CI_CD.md
Due: none

docs: remove staging targets from root AGENTS.md
  AGENTS.md
Due: none

chore(env): remove staging and add secure registration key placeholder
  .env.example
Due: none

docs(audit): update lifecycle audit for staging removal
  docs/audits/dev-prod-lifecycle-audit.md
Due: none

docs(cursor): remove staging from database migration guide
  .cursor/commands/database-migration.md
Due: none

chore(cursor): remove staging env from ignore file
  .cursorignore
Due: none

fix(bridge.yaml): update healthcheck command to use pgrep for process validation
  infra/compose/bridge.yaml
Due: yaml-lint

chore(nginx): add shellcheck directive to ignore SC2016 warning
  infra/nginx/docker-entrypoint.sh
Due: none

feat(scripts): add script to download IRC/XMPP service documentation
  scripts/download_references.py
Due: none

chore(env): update .env.example with new sections and placeholders
  .env.example
Due: none

feat(package.json): add scripts for managing documentation lifecycle
  package.json
  pnpm-lock.yaml
Due: yaml-lint

chore(gitignore): update .gitignore to exclude additional config and documentation files
  .gitignore
Due: none

docs(AGENTS.md): update Docker access instructions for security
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

chore(env): update .env.example with security warnings and placeholders
  .env.example
Due: none

feat(config): enhance security and flexibility in atheme.conf.template
  apps/atheme/config/atheme.conf.template
Due: none

feat(prosody.cfg.lua): add support for XMPP_DOMAIN environment variable
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

fix(mermaid.tsx): change securityLevel from 'loose' to 'strict' for enhanced security
  apps/docs/components/mdx/mermaid.tsx
Due: none

feat(justfile): add SRA bootstrap process for initial setup of Services Root Administrator account
  apps/unrealircd/justfile
Due: none

fix(prepare-config.sh): export DOLLAR variable for use in configuration templates
  scripts/prepare-config.sh
Due: none

refactor(unrealircd): update operator configuration for clarity and flexibility
  apps/unrealircd/config/unrealircd.conf.template
Due: none
