Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}
  stage_fixed: true

lint-bridge:
  run: uv run ruff check --fix src tests && uv run ruff format src tests
  stage_fixed: true

yaml-lint:
  run: yamllint {files}

feat(unrealircd): add custom relaymsg module to build process
  apps/unrealircd/Containerfile
Due: none

docs(third-party-modules): add note for relaymsg module in module listing
  apps/unrealircd/third-party-modules.list
Due: none

docs(MODULES): update documentation for third-party and custom modules
  docs/services/MODULES.md
  docs/services/irc/MODULES.md
Due: none

feat(init): add directory for The Lounge in initialization script
  scripts/init.sh
Due: none

feat(config): add The Lounge configuration setup in prepare-config script
  scripts/prepare-config.sh
Due: none

feat(env): update development environment configuration for The Lounge and Prosody
  .env.dev.example
  .env.example
Due: none

feat(compose): include The Lounge in Docker Compose configuration
  compose.yaml
Due: yaml-lint

feat(justfile): add The Lounge module to the justfile for improved project structure
  justfile
Due: none

docs(AGENTS): update AGENTS.md to include The Lounge in project layout and related commands
  AGENTS.md
Due: none

feat(logging): implement INFO-level logging for Discord to IRC message flow
  .cursor/plans/add_irc_message_flow_logging_f5031bd1.plan.md
Due: none

feat(logging): add INFO-level logging for Discord message bridging
  apps/bridge/src/bridge/adapters/disc.py
Due: lint-bridge

feat(logging): add debug and info logging for IRC puppet message handling
  apps/bridge/src/bridge/adapters/irc_puppet.py
Due: lint-bridge

feat(unrealircd): rename relaymsg to relaymsg-atl to avoid upstream overwrite
  apps/unrealircd/AGENTS.md
  apps/unrealircd/Containerfile
  apps/unrealircd/config/unrealircd.conf.template
  apps/unrealircd/contrib/relaymsg/README.md
  apps/unrealircd/contrib/relaymsg/relaymsg-atl.c
  apps/unrealircd/scripts/manage-modules.sh
  apps/unrealircd/third-party-modules.list
  docs/services/MODULES.md
  docs/services/irc/MODULES.md
Due: none

fix(bridge): prevent message echo across Discord, IRC, and XMPP
  apps/bridge/src/bridge/adapters/irc.py
  apps/bridge/src/bridge/adapters/xmpp.py
  apps/bridge/src/bridge/adapters/xmpp_component.py
  apps/bridge/tests/test_xmpp_adapter.py
  apps/bridge/tests/test_xmpp_component.py
  apps/bridge/tests/test_xmpp_component_outbound.py
Due: lint-bridge

fix(prosody): chown data dir on startup for SQLite write access
  apps/prosody/docker-entrypoint.sh
Due: none

feat(bridge): add irc_relaymsg_clean_nicks, improve config and logging
  apps/bridge/config.example.yaml
  apps/bridge/config.template.yaml
  apps/bridge/src/bridge/__main__.py
  apps/bridge/src/bridge/config.py
  apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/src/bridge/gateway/router.py
  apps/bridge/src/bridge/identity.py
  infra/compose/bridge.yaml
Due: lint-bridge, yaml-lint

chore(scripts): add IRC_LOG_PATH to prepare-config
  scripts/prepare-config.sh
Due: none

docs(AGENTS): update AGENTS.md files to reflect new webpanel app and test suite improvements
  AGENTS.md
  apps/bridge/AGENTS.md
  apps/bridge/tests/AGENTS.md
  apps/unrealircd/AGENTS.md
  apps/webpanel/AGENTS.md
  tests/AGENTS.md
Due: none

docs(README): add The Lounge web IRC client to documentation
  README.md
Due: none

docs(AGENTS): update AGENTS.md files to include new Gamja app and clean command
  AGENTS.md
  apps/bridge/AGENTS.md
  apps/gamja/AGENTS.md
  apps/prosody/AGENTS.md
  apps/thelounge/AGENTS.md
Due: none

docs(README): update port and command information in README.md
  README.md
Due: none

feat(unrealircd): add third/metadata module for IRC avatar support
  apps/unrealircd/AGENTS.md
  apps/unrealircd/config/unrealircd.conf.template
  apps/unrealircd/third-party-modules.list
  docs/services/irc/MODULES.md
Due: none

feat(bridge): add METADATA avatar sync to IRC puppets
  apps/bridge/src/bridge/adapters/irc.py
  apps/bridge/src/bridge/adapters/irc_puppet.py
  apps/bridge/tests/test_irc_adapter.py
  apps/bridge/tests/test_irc_client.py
  apps/bridge/tests/test_irc_puppet.py
Due: lint-bridge

feat(prosody): add mod_http_avatar and mod_pep_vcard_png_avatar
  apps/prosody/AGENTS.md
  apps/prosody/Containerfile
  apps/prosody/config/prosody.cfg.lua
  apps/prosody/modules.list
Due: lint-xmpp

feat(bridge): add XMPP avatar URL to IRC/Discord relay
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/adapters/xmpp_component.py
  apps/bridge/tests/test_xmpp_component.py
  scripts/prepare-config.sh
Due: lint-bridge

feat(bridge): implement XMPP avatar support for IRC and Discord
  .cursor/plans/xmpp_avatar_to_irc_c08f550c.plan.md
  apps/bridge/src/bridge/adapters/xmpp_component.py
  apps/bridge/tests/test_xmpp_component.py
Due: lint-bridge

feat(prosody): use mod_http_pep_avatar with mod_pep
  apps/prosody/AGENTS.md
  apps/prosody/Containerfile
  apps/prosody/config/prosody.cfg.lua
  apps/prosody/modules.list
Due: lint-xmpp

feat(bridge): add pep+vcard fallback for XMPP avatar URL resolution
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/adapters/xmpp_component.py
  apps/bridge/tests/test_xmpp_component.py
Due: lint-bridge

feat(unrealircd): add relaymsg-atl msgid, load third/react and third/redact
  apps/unrealircd/AGENTS.md
  apps/unrealircd/config/unrealircd.conf.template
  apps/unrealircd/contrib/relaymsg/relaymsg-atl.c
  apps/unrealircd/third-party-modules.list
Due: none

feat(bridge): route pydle logs through loguru, add safe message filter
  apps/bridge/src/bridge/__main__.py
Due: lint-bridge

feat(bridge): irc message-tags, cap ls, +h, relaymsg echo, redact infra
  apps/bridge/config.example.yaml
  apps/bridge/config.template.yaml
  apps/bridge/src/bridge/adapters/irc.py
  apps/bridge/src/bridge/config.py
  apps/bridge/tests/test_irc_adapter.py
  apps/bridge/tests/test_irc_client.py
Due: lint-bridge, yaml-lint

feat(bridge): discord avatar url filter, xmpp adapter updates
  apps/bridge/src/bridge/adapters/disc.py
  apps/bridge/src/bridge/adapters/xmpp_component.py
Due: lint-bridge

feat(bridge): add author_display to message_delete, update agents docs
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/events.py
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

test(bridge): update main, xmpp component tests
  apps/bridge/tests/test_main.py
  apps/bridge/tests/test_xmpp_component.py
  apps/bridge/tests/test_xmpp_component_outbound.py
Due: lint-bridge

chore: infra env, compose, prepare-config, atheme, prosody updates
  .env.dev.example
  .env.example
  apps/atheme/config/atheme.conf.template
  apps/prosody/config/prosody.cfg.lua
  infra/compose/bridge.yaml
  infra/compose/xmpp.yaml
  scripts/prepare-config.sh
Due: lint-xmpp, yaml-lint

fix(bridge): add add_discord_id_alias and use stanza-id for XMPP reply resolution
  apps/bridge/src/bridge/adapters/disc.py
  apps/bridge/src/bridge/adapters/xmpp.py
  apps/bridge/src/bridge/adapters/xmpp_msgid.py
  apps/bridge/tests/test_xmpp_msgid.py
Due: lint-bridge

feat(bridge): irc reply quote fallback and discord reply link button
  apps/bridge/src/bridge/adapters/disc.py
  apps/bridge/src/bridge/adapters/irc.py
  apps/bridge/src/bridge/adapters/xmpp_component.py
  apps/bridge/src/bridge/formatting/reply_fallback.py
  apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/tests/test_relay.py
Due: lint-bridge

refactor(xmpp): improve logging and enhance message retraction handling
  apps/bridge/src/bridge/adapters/xmpp.py
  apps/bridge/src/bridge/adapters/xmpp_component.py
Due: lint-bridge

feat(audit): add comprehensive architecture audit plan for bridge codebase
  .cursor/plans/bridge_codebase_architecture_audit_24b32b4a.plan.md
Due: none

feat(discord): add initial Discord adapter package
  apps/bridge/src/bridge/adapters/discord/__init__.py
Due: lint-bridge

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: apps/web/**/*.{js,ts,jsx,tsx} and ^apps/web/
  lint-bridge: any of: apps/bridge/**/*.py and ^apps/bridge/
  yaml-lint: any of: *.{yml,yaml}
