Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: npx eslint {files}

yaml-lint:
  run: yamllint {files}

feat: add comprehensive root .env.example
  .env.example
Due: none

ci: consolidate GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
Due: yaml-lint

feat: add root justfile and polyglot tooling
  justfile
  package.json
  pyproject.toml
  uv.lock
Due: none

feat: add root compose.yaml for unified orchestration
  compose.yaml
Due: yaml-lint

feat: add bridge infrastructure for protocol interop
  apps/bridge/README.md
  apps/bridge/biboumi/compose.yaml
  apps/bridge/matterbridge/Containerfile
  apps/bridge/matterbridge/compose.yaml
Due: yaml-lint

feat(irc): convert Makefile to justfile and update naming
  apps/irc/TODO.md
  apps/irc/justfile
  apps/irc/pyproject.toml
Due: none

feat(xmpp): consolidate compose files using profiles
  apps/xmpp/Containerfile
  apps/xmpp/README.env.md
  apps/xmpp/README.md
  apps/xmpp/compose.yaml
  apps/xmpp/justfile
Due: yaml-lint

refactor(xmpp): flatten config directory structure
  apps/xmpp/config/prosody/conf.d/00-core.cfg.lua
  apps/xmpp/config/prosody/conf.d/05-network.cfg.lua
  apps/xmpp/config/prosody/conf.d/11-logging.cfg.lua
  apps/xmpp/config/prosody/conf.d/21-security.cfg.lua
  apps/xmpp/config/prosody/conf.d/25-push-notifications.cfg.lua
  apps/xmpp/config/prosody/conf.d/30-vhosts-components.cfg.lua
  apps/xmpp/config/prosody/conf.d/90-contact-compliance.cfg.lua
  apps/xmpp/config/prosody/prosody.cfg.lua
Due: lint-xmpp

docs(web): update README and add .env.example
  apps/web/.env.example
  apps/web/README.md
Due: none

chore: Ignore the `.turbo` directory.
  .gitignore
Due: none

docs: rewrite README for monorepo structure
  README.md
Due: none

chore: remove empty directories after reorganization
  apps/irc/src/frontend/gamja/Containerfile
  apps/irc/src/frontend/gamja/conf/config.json
  apps/irc/src/frontend/gamja/default/config.json
  apps/irc/src/frontend/webpanel/Containerfile
  apps/irc/src/frontend/webpanel/README.md
  apps/irc/src/frontend/webpanel/nginx.conf
Due: none

Revert "chore: remove empty directories after reorganization"
  apps/irc/src/frontend/gamja/Containerfile
  apps/irc/src/frontend/gamja/conf/config.json
  apps/irc/src/frontend/gamja/default/config.json
  apps/irc/src/frontend/webpanel/Containerfile
  apps/irc/src/frontend/webpanel/README.md
  apps/irc/src/frontend/webpanel/nginx.conf
Due: none

refactor: move frontend services (gamja, webpanel) to services/ directory
  apps/irc/compose.yaml
  apps/irc/justfile
  apps/irc/services/gamja/Containerfile
  apps/irc/services/gamja/conf/config.json
  apps/irc/services/gamja/default/config.json
  apps/irc/services/webpanel/Containerfile
  apps/irc/services/webpanel/README.md
  apps/irc/services/webpanel/nginx.conf
Due: yaml-lint

feat: configure compose files to use root .env file
  apps/irc/compose.yaml
  apps/xmpp/compose.yaml
Due: yaml-lint

feat: set up infrastructure Docker components
  compose.yaml
  infra/docker/base-images/alpine-base/Containerfile
  infra/docker/base-images/alpine-base/README.md
  infra/docker/base-images/debian-base/Containerfile
  infra/docker/base-images/debian-base/README.md
  infra/docker/compose/networks.yaml
  infra/docker/compose/volumes.yaml
Due: yaml-lint

fix: remove unsupported top-level env_file directive from compose files
  apps/irc/compose.yaml
  apps/xmpp/compose.yaml
  compose.yaml
Due: yaml-lint

feat: integrate shared network and volumes in app compose files
  apps/irc/compose.yaml
  apps/xmpp/compose.yaml
Due: yaml-lint

refactor: remove redundant atl-letsencrypt volume
  infra/docker/compose/volumes.yaml
Due: yaml-lint

fix: remove redundant local network and volume definitions from app compose files
  apps/irc/compose.yaml
Due: yaml-lint

fix: remove remaining local volume and network definitions from XMPP compose
  apps/xmpp/compose.yaml
Due: yaml-lint

fix: align all volume definitions with actual usage across compose files
  infra/docker/compose/volumes.yaml
Due: yaml-lint

refactor: remove unused atl-logs volume
  infra/docker/compose/volumes.yaml
Due: yaml-lint

feat: configure app compose files to use root .env file
  apps/irc/compose.yaml
  apps/xmpp/compose.yaml
Due: yaml-lint

fix: correct env_file path in IRC webpanel service
  apps/irc/compose.yaml
  apps/xmpp/compose.yaml
Due: yaml-lint

fix: update all service env_file paths to point to root .env
  apps/irc/compose.yaml
  apps/xmpp/compose.yaml
Due: yaml-lint

feat(env): update environment variable names for clarity and add profiles
  .env.example
  NPM_SETUP.md
  compose.yaml
  justfile
  lefthook.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: yaml-lint

feat(cert-manager): add Docker Compose setup for certificate management
  infra/docker/cert-manager/compose.yaml
  infra/docker/cert-manager/scripts/run.sh
  infra/docker/compose/volumes.yaml
  infra/docker/turn-standalone/compose.yaml
Due: yaml-lint

refactor(xmpp): consolidate environment variable documentation and configuration
  apps/xmpp/README.env.md
  apps/xmpp/compose.yaml
  apps/xmpp/services/prosody/config/cloudflare-credentials.ini.example
  apps/xmpp/services/prosody/config/conf.d/00-core.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/05-network.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/11-logging.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/21-security.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/25-push-notifications.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/30-vhosts-components.cfg.lua
  apps/xmpp/services/prosody/config/conf.d/90-contact-compliance.cfg.lua
  apps/xmpp/services/prosody/config/nginx-docker.conf
  apps/xmpp/services/prosody/config/nginx-docker.dev.conf
  apps/xmpp/services/prosody/config/prometheus-scrape-config.yml
  apps/xmpp/services/prosody/config/prosody.cfg.lua
  apps/xmpp/services/prosody/config/turnserver.conf
  apps/xmpp/services/prosody/database/init-db.sql
  apps/xmpp/web/conversejs/index.html
  apps/xmpp/web/themes/adminer-theme.css
Due: lint-xmpp, yaml-lint

chore(web): integrate Ultracite for code quality and remove ESLint
  apps/web/.cursor/hooks.json
  apps/web/.cursor/rules/ultracite.mdc
  apps/web/.eslintrc.json
  apps/web/biome.jsonc
  apps/web/justfile
  apps/web/next.config.mjs
  apps/web/package.json
Due: none

feat(compose.yaml): add docker-compose configuration for bridge services
  apps/bridge/compose.yaml
Due: yaml-lint

feat(atheme): add default configuration template for Atheme services
  apps/irc/services/atheme/config/atheme.conf.template
Due: none

fix(Containerfile): update config.json path to reflect new directory structure
  apps/irc/services/gamja/Containerfile
  apps/irc/services/gamja/config/config.json
Due: none

refactor(compose.yaml): streamline service definitions and improve volume paths
  apps/irc/compose.yaml
Due: yaml-lint

chore: rename conf to config
  apps/irc/services/unrealircd/config/aliases/aliases.conf
  apps/irc/services/unrealircd/config/aliases/anope.conf
  apps/irc/services/unrealircd/config/aliases/atheme.conf
  apps/irc/services/unrealircd/config/aliases/auspice.conf
  apps/irc/services/unrealircd/config/aliases/cygnus.conf
  apps/irc/services/unrealircd/config/aliases/epona.conf
  apps/irc/services/unrealircd/config/aliases/generic.conf
  apps/irc/services/unrealircd/config/aliases/genericstats.conf
  apps/irc/services/unrealircd/config/aliases/ircservices.conf
  apps/irc/services/unrealircd/config/aliases/operstats.conf
  apps/irc/services/unrealircd/config/badwords.conf
  apps/irc/services/unrealircd/config/dccallow.conf
  apps/irc/services/unrealircd/config/examples/example.conf
  apps/irc/services/unrealircd/config/examples/example.es.conf
  apps/irc/services/unrealircd/config/examples/example.fr.conf
  apps/irc/services/unrealircd/config/examples/example.pt.conf
  apps/irc/services/unrealircd/config/examples/example.tr.conf
  apps/irc/services/unrealircd/config/help/help.conf
  apps/irc/services/unrealircd/config/help/help.de.conf
  apps/irc/services/unrealircd/config/help/help.es.conf
  apps/irc/services/unrealircd/config/help/help.fr.conf
  apps/irc/services/unrealircd/config/help/help.it.conf
  apps/irc/services/unrealircd/config/help/help.nl.conf
  apps/irc/services/unrealircd/config/help/help.pl.conf
  apps/irc/services/unrealircd/config/help/help.ru.conf
  apps/irc/services/unrealircd/config/help/help.tr.conf
  apps/irc/services/unrealircd/config/modules.custom.conf
  apps/irc/services/unrealircd/config/modules.default.conf
  apps/irc/services/unrealircd/config/modules.optional.conf
  apps/irc/services/unrealircd/config/modules.sources.list
  apps/irc/services/unrealircd/config/operclass.default.conf
  apps/irc/services/unrealircd/config/rpc-class.default.conf
  apps/irc/services/unrealircd/config/rpc.modules.default.conf
  apps/irc/services/unrealircd/config/snomasks.default.conf
  apps/irc/services/unrealircd/config/spamfilter.conf
  apps/irc/services/unrealircd/config/unrealircd.conf.template
Due: none

ci: add lint and build steps for web project in GitHub Actions
  .github/workflows/ci.yml
Due: yaml-lint

chore: move some files temporarily
  tmp/cloudflare-credentials.ini.example
  tmp/nginx-docker.conf
  tmp/nginx-docker.dev.conf
  tmp/prometheus-scrape-config.yml
  tmp/turnserver.conf
Due: yaml-lint

Path conditions:
  lint-irc: any of: *.sh and ^apps/irc/
  lint-xmpp: any of: *.lua
  lint-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  yaml-lint: any of: *.{yml,yaml}
