Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}
  stage_fixed: true

lint-bridge:
  run: uv run ruff check --fix src tests && uv run ruff format src tests
  stage_fixed: true

yaml-lint:
  run: yamllint {files}

feat(tests): add avatar retrieval mocks for identity in IRC adapter tests
  apps/bridge/tests/unit/irc/test_irc_adapter_extended.py
Due: lint-bridge

feat(tests): add additional avatar retrieval mocks for identity in IRC adapter tests
  apps/bridge/tests/unit/irc/test_irc_adapter.py
Due: lint-bridge

feat(tests): add avatar retrieval mocks for identity in XMPP adapter tests
  apps/bridge/tests/unit/xmpp/test_xmpp_adapter.py
Due: lint-bridge

docs: update README and API documentation for Portal integration
  README.md
  apps/bridge/README.md
  apps/docs/content/docs/reference/api.mdx
  apps/docs/content/docs/reference/environment-variables.mdx
  apps/docs/content/docs/services/bridge/configuration.mdx
Due: none

Notes added by 'git notes add'
  a29884422789e5af5a335c2eccec736571d721c6
Due: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

chore: update .cursorignore
  .cursorignore
Due: none

docs(agents): add apps/fluux-messenger/AGENTS.md
  apps/fluux-messenger/AGENTS.md
Due: none

chore(atheme): add apps/atheme/no-irc-register.patch
  apps/atheme/no-irc-register.patch
Due: none

chore(infra): add compose.prod-override.yaml
  compose.prod-override.yaml
Due: yaml-lint

chore(infra): add compose.dev-override.yaml
  compose.dev-override.yaml
Due: yaml-lint

feat(prosody): add apps/prosody/custom_plugins/mod_http_admin_api.lua
  apps/prosody/custom_plugins/mod_http_admin_api.lua
Due: lint-xmpp

chore(env): .env.example
  .env.example
Due: none

chore(env): .env.dev.example
  .env.dev.example
Due: none

chore: .luacheckrc
  .luacheckrc
Due: none

chore(atheme): apps/atheme/Containerfile
  apps/atheme/Containerfile
Due: none

fix(bridge): apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/__main__.py
  apps/bridge/src/bridge/__main__.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/adapters/xmpp/__init__.py
  apps/bridge/src/bridge/adapters/xmpp/__init__.py
Due: lint-bridge

docs(agents): AGENTS.md
  AGENTS.md
Due: none

fix(bridge): apps/bridge/Containerfile
  apps/bridge/Containerfile
Due: none

fix(bridge): apps/bridge/src/bridge/identity/base.py
  apps/bridge/src/bridge/identity/base.py
Due: lint-bridge

chore(atheme): apps/atheme/config/atheme.conf.template
  apps/atheme/config/atheme.conf.template
Due: none

fix(bridge): apps/bridge/src/bridge/config/schema.py
  apps/bridge/src/bridge/config/schema.py
Due: lint-bridge

docs(agents): apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/AGENTS.md
Due: none

fix(bridge): apps/bridge/src/bridge/adapters/irc/client.py
  apps/bridge/src/bridge/adapters/irc/client.py
Due: lint-bridge

fix(bridge): apps/bridge/config.template.yaml
  apps/bridge/config.template.yaml
Due: yaml-lint

fix(bridge): apps/bridge/src/bridge/adapters/irc/handlers.py
  apps/bridge/src/bridge/adapters/irc/handlers.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/adapters/discord/handlers.py
  apps/bridge/src/bridge/adapters/discord/handlers.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/adapters/irc/adapter.py
  apps/bridge/src/bridge/adapters/irc/adapter.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/identity/portal.py
  apps/bridge/src/bridge/identity/portal.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/identity/dev.py
  apps/bridge/src/bridge/identity/dev.py
Due: lint-bridge

fix(bridge): apps/bridge/tests/property/test_config_roundtrip_properties.py
  apps/bridge/tests/property/test_config_roundtrip_properties.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

fix(bridge): apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
Due: lint-bridge

fix(bridge): apps/bridge/tests/unit/irc/test_irc_adapter.py
  apps/bridge/tests/unit/irc/test_irc_adapter.py
Due: lint-bridge

docs(agents): apps/docs/AGENTS.md
  apps/docs/AGENTS.md
Due: none

chore(irc): apps/unrealircd/config/unrealircd.conf.template
  apps/unrealircd/config/unrealircd.conf.template
Due: none

feat(xmpp): apps/prosody/docker-entrypoint.sh
  apps/prosody/docker-entrypoint.sh
Due: none

docs: apps/docs/content/docs/architecture/index.mdx
  apps/docs/content/docs/architecture/index.mdx
Due: none

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: apps/web/**/*.{js,ts,jsx,tsx} and ^apps/web/
  lint-bridge: any of: apps/bridge/**/*.py and ^apps/bridge/
  yaml-lint: any of: *.{yml,yaml}
