Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lefthook.yml:

# Lefthook - Git Hook Manager for Polyglot Monorepo
# Configured for parallel execution and path filtering

pre-commit:
  parallel: true
  commands:
    lint-irc:
      root: .
      glob: "scripts/**/*.sh"
      run: shellcheck {files}
    lint-xmpp:
      glob: "*.lua"
      run: luacheck {files}
    lint-web:
      root: apps/web/
      glob: "apps/web/**/*.{js,ts,jsx,tsx}"
      run: pnpm run fix {files} && pnpm run check {files}
      stage_fixed: true
    lint-bridge:
      root: apps/bridge/
      glob: "apps/bridge/**/*.py"
      run: uv run ruff check --fix src tests && uv run ruff format src tests
      stage_fixed: true
    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint {files}

feat(xmpp): implement moderation request for message retraction
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
Due: lint-bridge

feat(xmpp): add support for fire-and-forget moderation tasks
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

feat(xmpp): update retraction fallback message and enhance message ID handling
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
Due: lint-bridge

fix(irc): correct TAGMSG syntax for typing status
  apps/bridge/src/bridge/adapters/AGENTS.md
Due: none

feat(xmpp): add promote retraction to moderation feature
  apps/bridge/src/bridge/config/schema.py
Due: lint-bridge

feat(events): add raw parameter to message_delete function for enhanced message handling
  apps/bridge/src/bridge/core/events.py
Due: lint-bridge

fix(relay): prevent duplicate XMPP retraction notices
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

test(discord): add test for skipping duplicate retraction on self-initiated message delete
  apps/bridge/tests/unit/discord/test_discord_adapter.py
Due: lint-bridge

test(relay): add test for skipping XMPP message deletion when skip_xmpp is true
  apps/bridge/tests/unit/gateway/test_relay.py
Due: lint-bridge

fix(irc): update TAGMSG syntax for typing status in tests
  apps/bridge/tests/unit/irc/test_irc_adapter.py
Due: lint-bridge

test(irc): add test to skip REDACT for self-initiated deletions
  apps/bridge/tests/unit/irc/test_irc_client.py
Due: lint-bridge

test(tracking): add tests for original origin retrieval based on message ID
  apps/bridge/tests/unit/tracking/test_irc_msgid.py
Due: lint-bridge

test(xmpp): enhance retraction handling based on author presence
  apps/bridge/tests/unit/xmpp/test_xmpp_adapter.py
Due: lint-bridge

test(xmpp): use constant for retraction fallback body in tests
  apps/bridge/tests/unit/xmpp/test_xmpp_component_outbound.py
Due: lint-bridge

test(xmpp): add recent moderation tracking and mock configuration for retraction tests
  apps/bridge/tests/unit/xmpp/test_xmpp_component.py
Due: lint-bridge

feat(prosody): add bridge component JID for MUC admin affiliation
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

feat(bridge): add configuration to promote XEP-0424 user retraction to moderation
  apps/bridge/config.example.yaml
Due: yaml-lint

feat(config): add support for message redaction by authors
  apps/unrealircd/config/unrealircd.conf.template
Due: none

feat(container): update Containerfile and compose configuration for improved server management
  apps/obsidianirc/Containerfile
  infra/compose/obsidianirc.yaml
Due: yaml-lint

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  bc4ccdafde4162afd4641f19998613276a11e77f
Due: none

refactor(env): enhance ObsidianIRC configuration with server name and update documentation
  .env.dev.example
  .env.example
  apps/obsidianirc/README.md
  apps/obsidianirc/justfile
  infra/compose/obsidianirc.yaml
Due: yaml-lint

fix(justfile): remove unnecessary --no-deps flag from rebuild-clean command for cleaner build process
  apps/obsidianirc/justfile
Due: none

fix(container): inline build arguments in Dockerfile to ensure cache invalidation
  apps/obsidianirc/Containerfile
Due: none

fix(env): update WebSocket URL in development environment to use 127.0.0.1
  .env.dev.example
  apps/obsidianirc/README.md
Due: none

refactor(justfile): update rebuild commands for clarity and consistency
  apps/obsidianirc/justfile
Due: none

fix(env): update ObsidianIRC WebSocket URL to use wss for secure connections
  .env.dev.example
  AGENTS.md
  apps/docs/content/docs/getting-started/local-development.mdx
  apps/docs/content/docs/operations/troubleshooting.mdx
  apps/obsidianirc/AGENTS.md
  apps/obsidianirc/README.md
  apps/unrealircd/config/unrealircd.conf.template
  scripts/prepare-config.sh
Due: none

fix(discord): update reply button label to remove arrow for improved clarity
  apps/bridge/src/bridge/adapters/discord/webhook.py
Due: lint-bridge

feat(logging): enhance log output with component prefixes for better filtering
  apps/bridge/src/bridge/__main__.py
  apps/bridge/src/bridge/adapters/discord/adapter.py
  apps/bridge/src/bridge/adapters/discord/handlers.py
  apps/bridge/src/bridge/adapters/discord/media.py
  apps/bridge/src/bridge/adapters/discord/outbound.py
  apps/bridge/src/bridge/adapters/discord/webhook.py
  apps/bridge/src/bridge/adapters/irc/adapter.py
  apps/bridge/src/bridge/adapters/irc/client.py
  apps/bridge/src/bridge/adapters/irc/handlers.py
  apps/bridge/src/bridge/adapters/irc/outbound.py
  apps/bridge/src/bridge/adapters/irc/puppet.py
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
  apps/bridge/src/bridge/avatar.py
  apps/bridge/src/bridge/core/events.py
  apps/bridge/src/bridge/gateway/msgid_resolver.py
  apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/src/bridge/gateway/router.py
  apps/bridge/src/bridge/identity/dev.py
  apps/docs/content/docs/services/bridge/operations.mdx
Due: lint-bridge

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  580f925c34aa9a52b627e1b41321ed5db2f8e0bb
Due: none

feat(discord): implement avatar resolution logic for message sending
  apps/bridge/src/bridge/adapters/discord/adapter.py
Due: lint-bridge

fix(discord): enhance avatar URL validation for Discord compatibility
  apps/bridge/src/bridge/adapters/discord/webhook.py
Due: lint-bridge

feat(irc): implement dynamic avatar URL resolution based on message origin
  apps/bridge/src/bridge/adapters/irc/adapter.py
Due: lint-bridge

feat(xmpp): implement dynamic avatar URL resolution based on message origin
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
Due: lint-bridge

feat(xmpp): add data URL decoding for avatar images
  apps/bridge/src/bridge/adapters/xmpp/avatar.py
Due: lint-bridge

fix(xmpp): ensure real JID is correctly processed for avatar URL resolution
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
Due: lint-bridge

feat(identity): add abstract methods for avatar URL resolution across platforms
  apps/bridge/src/bridge/identity/base.py
Due: lint-bridge

feat(identity): add avatar resolution methods for Discord, IRC, and XMPP
  apps/bridge/src/bridge/identity/dev.py
Due: lint-bridge

feat(identity): implement avatar retrieval methods for Discord, IRC, and XMPP
  apps/bridge/src/bridge/identity/portal.py
Due: lint-bridge
