Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}
  stage_fixed: true

lint-bridge:
  run: uv run ruff check --fix src tests && uv run ruff format src tests
  stage_fixed: true

yaml-lint:
  run: yamllint {files}

Notes added by 'git notes add'
  1ecc92ba18f22ca4219a73ad98c1f85d200238cd
Due: none

fix: discord_to_irc blockquote, spoiler, emoji and mention handling
  apps/bridge/src/bridge/formatting/discord_to_irc.py
Due: lint-bridge

fix: irc_to_discord spoiler round-trip, pass-through asterisks and underscores
  apps/bridge/src/bridge/formatting/irc_to_discord.py
Due: lint-bridge

fix: irc_to_xmpp color trailing comma and ANSI stripping
  apps/bridge/src/bridge/formatting/irc_to_xmpp.py
Due: lint-bridge

fix: xmpp_to_discord double asterisk bold+italic regression
  apps/bridge/src/bridge/formatting/xmpp_to_discord.py
Due: lint-bridge

fix: xmpp_to_irc blockquote, double asterisk/underscore, Discord-style bold/underline
  apps/bridge/src/bridge/formatting/xmpp_to_irc.py
Due: lint-bridge

fix: xmpp component reaction echo suppression and spoiler handling
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

fix: relay strip xmpp reply fallback before format conversion
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

test: formatting and relay tests for all bridge fixes
  apps/bridge/tests/test_formatting.py
  apps/bridge/tests/test_relay.py
Due: lint-bridge

feat: add discord to xmpp formatting module
  apps/bridge/src/bridge/formatting/discord_to_xmpp.py
Due: lint-bridge

feat: add paste formatting utility
  apps/bridge/src/bridge/formatting/paste.py
Due: lint-bridge

chore: update atheme config template
  apps/atheme/config/atheme.conf.template
Due: none

chore: update bridge config example
  apps/bridge/config.example.yaml
Due: yaml-lint

chore: update bridge pyproject.toml
  apps/bridge/pyproject.toml
Due: none

fix: update bridge entrypoint
  apps/bridge/src/bridge/__main__.py
Due: lint-bridge

fix: update discord adapter
  apps/bridge/src/bridge/adapters/discord/adapter.py
Due: lint-bridge

fix: update irc client
  apps/bridge/src/bridge/adapters/irc/client.py
Due: lint-bridge

fix: update irc puppet
  apps/bridge/src/bridge/adapters/irc/puppet.py
Due: lint-bridge

fix: update xmpp adapter
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
Due: lint-bridge

fix: update config schema
  apps/bridge/src/bridge/config/schema.py
Due: lint-bridge

fix: update core events
  apps/bridge/src/bridge/core/events.py
Due: lint-bridge

fix: update irc message split formatting
  apps/bridge/src/bridge/formatting/irc_message_split.py
Due: lint-bridge

test: update irc client tests
  apps/bridge/tests/test_irc_client.py
Due: lint-bridge

test: update relay extended tests
  apps/bridge/tests/test_relay_extended.py
Due: lint-bridge

test: update xmpp adapter tests
  apps/bridge/tests/test_xmpp_adapter.py
Due: lint-bridge

chore: update prosody config and luacheckrc globals
  .luacheckrc
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

chore: update prosody modules list
  apps/prosody/modules.list
Due: none

chore: update unrealircd config template
  apps/unrealircd/config/unrealircd.conf.template
Due: none

chore: update uv.lock
  uv.lock
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  56c8a8bc6e0df7fa0e41d3ce3da8bd677fcfae0d
Due: none

fix: xep0393 whitespace at span boundaries in irc_to_xmpp
  apps/bridge/src/bridge/formatting/irc_to_xmpp.py
Due: lint-bridge

test: edge cases for all formatting modules
  apps/bridge/tests/test_formatting.py
Due: lint-bridge

feat(obsidianirc): add ObsidianIRC upstream as git submodule
  .gitmodules
Due: none

feat(obsidianirc): add Containerfile for custom build with ATL build args
  apps/obsidianirc/Containerfile
Due: none

feat(obsidianirc): add compose fragment for ObsidianIRC service
  infra/compose/obsidianirc.yaml
Due: yaml-lint

feat(obsidianirc): add justfile with rebuild and rebuild-clean recipes
  apps/obsidianirc/justfile
Due: none

feat(obsidianirc): add ObsidianIRC env vars to .env.example and .env.dev.example
  .env.dev.example
  .env.example
Due: none

feat(obsidianirc): include ObsidianIRC in compose.yaml and root justfile
  compose.yaml
  justfile
Due: yaml-lint

feat(obsidianirc): add data/obsidianirc directory to init script
  scripts/init.sh
Due: none

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: apps/web/**/*.{js,ts,jsx,tsx} and ^apps/web/
  lint-bridge: any of: apps/bridge/**/*.py and ^apps/bridge/
  yaml-lint: any of: *.{yml,yaml}
