Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}
  stage_fixed: true

lint-bridge:
  run: uv run ruff check --fix src tests && uv run ruff format src tests
  stage_fixed: true

yaml-lint:
  run: yamllint {files}

chore(atheme): remove outdated AUDIT_REPORT.md file
  apps/atheme/AUDIT_REPORT.md
Due: none

chore(logging): migrate IRC and XMPP services to stdout
  apps/atheme/config/atheme.conf.template
  apps/atheme/docker-entrypoint.sh
  apps/unrealircd/docker-entrypoint.sh
  scripts/init.sh
  scripts/prepare-config.sh
  tests/legacy/integration/test_scripts.py
Due: none

chore(config): clean up comments in Prosody and UnrealIRCd templates
  apps/prosody/config/prosody.cfg.lua
  apps/unrealircd/config/unrealircd.conf.template
Due: lint-xmpp

docs: update documentation for stdout logging migration
  apps/docs/content/docs/architecture/data-model.mdx
  apps/docs/content/docs/operations/backups.mdx
  apps/docs/content/docs/operations/monitoring.mdx
  apps/docs/content/docs/services/atheme/configuration.mdx
  apps/docs/content/docs/services/atheme/index.mdx
  apps/docs/content/docs/services/atheme/operations.mdx
  apps/docs/content/docs/services/xmpp/operations.mdx
Due: none

chore(containers): optimize Containerfiles for correctness and security
  apps/bridge/Containerfile
  apps/gamja/Containerfile
  apps/prosody/Containerfile
  apps/unrealircd/Containerfile
  apps/webpanel/Containerfile
Due: none

chore(compose): harden all services with cap_drop and healthchecks
  compose.yaml
  infra/compose/bridge.yaml
  infra/compose/cert-manager.yaml
  infra/compose/irc.yaml
  infra/compose/thelounge.yaml
  infra/compose/xmpp.yaml
Due: yaml-lint

chore(env): document log rotation variables in .env.example
  .env.example
Due: none

docs(agents): sync AGENTS.md across all apps and infra
  AGENTS.md
  apps/atheme/AGENTS.md
  apps/docs/AGENTS.md
  apps/gamja/AGENTS.md
  apps/prosody/AGENTS.md
  apps/unrealircd/AGENTS.md
  apps/web/AGENTS.md
  apps/webpanel/AGENTS.md
  infra/AGENTS.md
  scripts/AGENTS.md
Due: none

chore(containers): add OCI labels, healthcheck, and layer fixes to atheme and nginx
  apps/atheme/Containerfile
  infra/nginx/Dockerfile
Due: none

chore(workflows): update actions to specific commit hashes and add timeouts
  .github/workflows/bridge-docker.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-title.yml
  .github/workflows/security.yml
Due: yaml-lint

build(pyproject.toml): add hypothesis to test dependencies and ruff to lint dependencies
  apps/bridge/pyproject.toml
Due: none

chore(renovate): add renovate configuration for automated dependency management
  .github/renovate.json5
Due: none

chore(deps): add ruff and hypothesis
  uv.lock
Due: none

chore(webpanel): remove nginx configuration file
  apps/webpanel/nginx.conf
Due: none

docs(AGENTS.md): remove references to deprecated 'docs-old' directory
  AGENTS.md
Due: none

fix(Containerfile): update HEALTHCHECK command to match new process name
  apps/bridge/Containerfile
Due: none

docs(monitoring.mdx): clarify logging behavior for The Lounge service
  apps/docs/content/docs/operations/monitoring.mdx
Due: none

ci(lint.yml): update shell lint action to use pre-commit/action for improved flexibility
  .github/workflows/lint.yml
Due: yaml-lint

ci(lint.yml): separate shellcheck and shfmt into distinct steps for clarity
  .github/workflows/lint.yml
Due: yaml-lint

ci(lint.yml): add setup-python action for shell language linting
  .github/workflows/lint.yml
Due: yaml-lint

fix(workflow): use --entrypoint to ensure echo command runs in smoke test
  .github/workflows/docker.yml
Due: yaml-lint

chore(web): add .gitignore file for web app to exclude unnecessary files
  apps/web/.gitignore
Due: none

style: convert indentation to tabs for consistency
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/biome.jsonc
  apps/web/components/ui/badge.tsx
  apps/web/components/ui/button.tsx
  apps/web/components/ui/card.tsx
  apps/web/lib/utils.ts
  apps/web/next.config.mjs
  apps/web/postcss.config.mjs
  apps/web/tailwind.config.ts
Due: lint-web

ci(security.yml): add GITLEAKS_LICENSE environment variable for gitleaks-action
  .github/workflows/security.yml
Due: yaml-lint

ci(workflows): inherit secrets in security workflow for enhanced security
  .github/workflows/ci.yml
Due: yaml-lint

docs(architecture): update XMPP component port in architecture diagram
  apps/docs/content/docs/architecture/index.mdx
  apps/docs/content/docs/reference/environment-variables.mdx
  apps/docs/content/docs/services/bridge/configuration.mdx
Due: none

chore: unify versioning across monorepo
  .github/workflows/bridge-docker.yml
  .github/workflows/ci.yml
  .releaserc.json
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
Due: yaml-lint

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  c505db9b2140d0a700e7d11b4602fb5135b7aeea
Due: none

feat(bridge): add XMPP avatar fallback for Discord webhooks
  apps/bridge/config.template.yaml
  apps/bridge/src/bridge/adapters/discord/adapter.py
  apps/bridge/src/bridge/avatar.py
  apps/bridge/src/bridge/config/schema.py
  apps/bridge/tests/test_discord_adapter.py
Due: lint-bridge, yaml-lint

feat(prosody): add mod_pep_open_avatars for public avatar access
  .luacheckrc
  apps/prosody/Containerfile
  apps/prosody/config/prosody.cfg.lua
  apps/prosody/custom_plugins/mod_pep_open_avatars.lua
  apps/prosody/modules.list
  infra/compose/xmpp.yaml
Due: lint-xmpp, yaml-lint

fix(bridge): handle Portal ConnectError gracefully with circuit breaker
  apps/bridge/pyproject.toml
  apps/bridge/src/bridge/__main__.py
  apps/bridge/src/bridge/adapters/irc/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/identity/portal.py
  apps/bridge/tests/test_identity.py
  apps/bridge/tests/test_main.py
  uv.lock
Due: lint-bridge

fix(bridge): xep-0425 muc moderation to discord delete bridging
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/tests/test_xmpp_component.py
  apps/bridge/tests/test_xmpp_component_outbound.py
Due: lint-bridge

refactor(bridge): improve router, relay, puppet, and dispatcher internals
  apps/bridge/src/bridge/adapters/irc/puppet.py
  apps/bridge/src/bridge/core/events.py
  apps/bridge/src/bridge/gateway/relay.py
  apps/bridge/src/bridge/gateway/router.py
  apps/bridge/tests/conftest.py
  apps/bridge/tests/test_content_filter.py
  apps/bridge/tests/test_irc_puppet.py
  apps/bridge/tests/test_property_based.py
  apps/bridge/tests/test_relay.py
  apps/bridge/tests/test_relay_extended.py
  apps/bridge/tests/test_router.py
Due: lint-bridge

chore(infra): add xmpp avatar env vars and bridge compose config
  .env.dev.example
  .env.example
  infra/compose/bridge.yaml
  scripts/prepare-config.sh
Due: yaml-lint

docs: add Prosody admin API token generation guide
  AGENTS.md
  README.md
  apps/prosody/AGENTS.md
Due: none

chore(justfile): add Prosody admin API token generation command
  justfile
Due: none

docs(AGENTS): update documentation structure and file inventory
  AGENTS.md
  apps/atheme/AGENTS.md
  apps/bridge/AGENTS.md
  apps/bridge/src/AGENTS.md
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/tests/AGENTS.md
  apps/docs/AGENTS.md
  apps/prosody/AGENTS.md
  apps/unrealircd/AGENTS.md
  apps/web/AGENTS.md
  apps/webpanel/AGENTS.md
  infra/AGENTS.md
  scripts/AGENTS.md
Due: none

docs: clean up CHANGELOG formatting and add markdown lint configuration
  .markdownlintignore
  CHANGELOG.md
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: apps/web/**/*.{js,ts,jsx,tsx} and ^apps/web/
  lint-bridge: any of: apps/bridge/**/*.py and ^apps/bridge/
  yaml-lint: any of: *.{yml,yaml}
