Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}

yaml-lint:
  run: yamllint {files}

feat(docker): add Docker workflow helper script for versioning and build validation
  .github/scripts/docker.sh
Due: none

refactor(ci): replace Bridge CI with Docker workflow and enhance CI configuration
  .github/workflows/bridge-ci.yml
  .github/workflows/bridge-docker.yml
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-title.yml
Due: yaml-lint

chore: remove deprecated command files
  apps/bridge/.cursor/agents/references-analyzer.md
  apps/bridge/.cursor/commands/accessibility-audit.md
  apps/bridge/.cursor/commands/add-documentation.md
  apps/bridge/.cursor/commands/add-error-handling.md
  apps/bridge/.cursor/commands/address-github-pr-comments.md
  apps/bridge/.cursor/commands/clarify-task.md
  apps/bridge/.cursor/commands/code-review.md
  apps/bridge/.cursor/commands/create-pr.md
  apps/bridge/.cursor/commands/database-migration.md
  apps/bridge/.cursor/commands/debug-issue.md
  apps/bridge/.cursor/commands/deslop.md
  apps/bridge/.cursor/commands/diagrams.md
  apps/bridge/.cursor/commands/docker-logs.md
  apps/bridge/.cursor/commands/fix-compile-errors.md
  apps/bridge/.cursor/commands/fix-git-issues.md
  apps/bridge/.cursor/commands/generate-api-docs.md
  apps/bridge/.cursor/commands/generate-pr-description.md
  apps/bridge/.cursor/commands/git-commit.md
  apps/bridge/.cursor/commands/git-push.md
  apps/bridge/.cursor/commands/light-review-existing-diffs.md
  apps/bridge/.cursor/commands/lint-fix.md
  apps/bridge/.cursor/commands/lint-suite.md
  apps/bridge/.cursor/commands/onboard-new-developer.md
  apps/bridge/.cursor/commands/optimize-performance.md
  apps/bridge/.cursor/commands/overview.md
  apps/bridge/.cursor/commands/refactor-code.md
  apps/bridge/.cursor/commands/roadmap.md
  apps/bridge/.cursor/commands/run-all-tests-and-fix.md
  apps/bridge/.cursor/commands/security-audit.md
  apps/bridge/.cursor/commands/security-review.md
  apps/bridge/.cursor/commands/setup-new-feature.md
  apps/bridge/.cursor/commands/visualize.md
  apps/bridge/.cursor/commands/write-unit-tests.md
  apps/bridge/.cursor/plans/bridge_implementation_stages_b21ce01f.plan.md
  apps/bridge/.cursor/plans/bridge_qol_and_customization_ee5fe085.plan.md
  apps/bridge/.cursor/plans/custom_discord_irc_xmpp_bridge_0068eac0.plan.md
Due: none

chore: remove obsolete CI and Docker workflow files
  apps/bridge/.github/scripts/docker.sh
  apps/bridge/.github/workflows/ci.yml
  apps/bridge/.github/workflows/docker.yml
  apps/bridge/.github/workflows/maintenance.yml
  apps/bridge/.github/workflows/pr-title.yml
Due: yaml-lint

chore: remove obsolete VSCode settings file
  apps/bridge/.vscode/settings.json
Due: none

chore: remove obsolete configuration and documentation files
  apps/bridge/.cursorignore
  apps/bridge/.dockerignore
  apps/bridge/.gitignore
  apps/bridge/CHANGELOG.md
  apps/bridge/Containerfile
  apps/bridge/LICENSE
  apps/bridge/README.md
  apps/bridge/config.example.yaml
  apps/bridge/config.template.yaml
  apps/bridge/justfile
  apps/bridge/lefthook.yml
  apps/bridge/pyproject.toml
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/__main__.py
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/adapters/disc.py
  apps/bridge/src/bridge/adapters/irc.py
  apps/bridge/src/bridge/adapters/xmpp.py
  apps/bridge/tests/test_irc_adapter.py
  apps/bridge/tests/test_irc_adapter_extended.py
  apps/bridge/tests/test_main.py
  apps/bridge/tests/test_xmpp_adapter.py
  apps/bridge/uv.lock
Due: yaml-lint

fix(prosody): update component_secret configuration for enhanced security
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

chore(env): rename IRC websocket URL environment variable for consistency
  apps/web/.env.example
Due: none

docs: add Config Audit Report and update references to .env.example
  docs/config-audit-report.md
  docs/services/irc/CONFIG.md
  docs/services/irc/DEVELOPMENT.md
  docs/services/irc/TODO.md
Due: none

chore(env): rename bridge environment variables for clarity and consistency
  infra/compose/bridge.yaml
Due: yaml-lint

fix(init): correct path to .env.example in create_env_template function
  scripts/init.sh
Due: none

chore(env): update XMPP component variables to BRIDGE_ prefix for consistency
  scripts/prepare-config.sh
Due: none

refactor(tests): update environment variable names to use BRIDGE_ prefix for consistency
  tests/unit/test_bridge_compose_env_coverage.py
  tests/unit/test_env_registry_completeness.py
Due: none

chore(docker): update .dockerignore and .gitignore for bridge application
  .dockerignore
  .env.example
  .gitignore
  README.md
  uv.lock
Due: none

feat(justfile): add bridge module and test-all target
  justfile
Due: none

chore(lefthook): update linting configurations for web and bridge applications
  lefthook.yml
Due: yaml-lint

feat(release): configure semantic-release for automated versioning and changelog generation
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: yaml-lint

chore: remove outdated Config Audit Report documentation
  docs/config-audit-report.md
Due: none

docs(agents): add AGENTS.md files
  .cursor/commands/update-agents-md.md
  .cursor/plans/agents.md_audit_plan_0e4a4132.plan.md
  AGENTS.md
  apps/atheme/AGENTS.md
  apps/bridge/AGENTS.md
  apps/bridge/src/AGENTS.md
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/formatting/AGENTS.md
  apps/bridge/src/bridge/gateway/AGENTS.md
  apps/bridge/tests/AGENTS.md
  apps/prosody/AGENTS.md
  apps/unrealircd/AGENTS.md
  apps/web/AGENTS.md
  docs/AGENTS.md
  infra/AGENTS.md
  scripts/AGENTS.md
  tests/AGENTS.md
Due: none

feat(discord): implement single webhook per channel and improve webhook management
  apps/bridge/src/bridge/adapters/disc.py
Due: none

chore(commitlint): add body-max-length rule to enforce maximum body length in commit messages
  commitlint.config.mjs
Due: none

chore(commitlint): increase body-max-length and add body-max-line-length rules for commit messages
  commitlint.config.mjs
Due: none

chore(commitlint): set body-max-length and body-max-line-length to Infinity for commit messages
  commitlint.config.mjs
Due: none

feat(bridge): add ReactionTracker for managing IRC reaction TAGMSG msgids
  apps/bridge/src/bridge/adapters/irc_msgid.py
Due: none

fix(bridge): await rawmsg call in IRCPuppet to ensure proper asynchronous behavior
  apps/bridge/src/bridge/adapters/irc_puppet.py
Due: none

feat(bridge): enhance IRCClient with ReactionTracker and channel permanence
  apps/bridge/src/bridge/adapters/irc.py
Due: none

docs(xmpp): add DNS configuration documentation for Prosody deployment
  docs/services/xmpp/DNS.md
Due: none

chore(robots): update sitemap comment in robots.txt to clarify usage
  apps/prosody/www/robots.txt
Due: none

chore(prosody): update Prosody version from 13.0.3 to 13.0.4 in Containerfile
  apps/prosody/Containerfile
Due: none

chore(prosody): update modules list to include new MUC and pubsub modules
  apps/prosody/modules.list
Due: none

chore(prosody): enhance certificate generation with additional DNS entries for pubsub and bridge
  apps/prosody/docker-entrypoint.sh
Due: none

feat(nginx): add Pastebin location configuration for mod_pastebin in nginx Docker examples
  docs/examples/nginx-docker.conf
  docs/examples/nginx-docker.dev.conf
Due: none

docs(xmpp): update README with Prosody version change and add user provisioning details
  docs/services/xmpp/README.md
Due: none

docs(xmpp): add TODO list for Prosody module investigations
  docs/services/xmpp/TODO.md
Due: none

feat(bridge): update Docker configuration for atl-bridge service
  infra/compose/bridge.yaml
Due: yaml-lint

chore(irc): add development environment file to IRC service configuration
  infra/compose/irc.yaml
Due: yaml-lint

chore(xmpp): add development environment file and log volume to XMPP service configuration
  infra/compose/xmpp.yaml
Due: yaml-lint

feat(prosody): add management commands for Prosody checks and validations
  apps/prosody/justfile
Due: none

docs(prosody): expand AGENTS.md with new management commands for Prosody checks
  apps/prosody/AGENTS.md
Due: none

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  yaml-lint: any of: *.{yml,yaml}
