Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lefthook.yml:

# Lefthook - Git Hook Manager for Polyglot Monorepo
# Configured for parallel execution and path filtering

pre-commit:
  parallel: true
  commands:
    lint-irc:
      root: .
      glob: "scripts/**/*.sh"
      run: shellcheck {files}
    lint-xmpp:
      glob: "*.lua"
      run: luacheck {files}
    lint-web:
      root: apps/web/
      glob: "apps/web/**/*.{js,ts,jsx,tsx}"
      run: pnpm run fix {files} && pnpm run check {files}
      stage_fixed: true
    lint-bridge:
      root: apps/bridge/
      glob: "apps/bridge/**/*.py"
      run: uv run ruff check --fix src tests && uv run ruff format src tests
      stage_fixed: true
    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint {files}

docs: apps/docs/content/docs/services/xmpp/modules.mdx
  apps/docs/content/docs/services/xmpp/modules.mdx
Due: none

feat(xmpp): apps/prosody/modules.list
  apps/prosody/modules.list
Due: none

docs: apps/docs/content/docs/services/xmpp/configuration.mdx
  apps/docs/content/docs/services/xmpp/configuration.mdx
Due: none

docs: apps/docs/content/docs/reference/environment-variables.mdx
  apps/docs/content/docs/reference/environment-variables.mdx
Due: none

feat(xmpp): apps/prosody/config/prosody.cfg.lua
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

chore(webpanel): apps/webpanel/Containerfile
  apps/webpanel/Containerfile
Due: none

docs: apps/docs/content/docs/reference/api.mdx
  apps/docs/content/docs/reference/api.mdx
Due: none

chore(infra): infra/compose/bridge.yaml
  infra/compose/bridge.yaml
Due: yaml-lint

fix(bridge): apps/bridge/tests/unit/misc/test_main.py
  apps/bridge/tests/unit/misc/test_main.py
Due: lint-bridge

chore(infra): infra/compose/thelounge.yaml
  infra/compose/thelounge.yaml
Due: yaml-lint

docs: apps/docs/content/docs/services/thelounge/configuration.mdx
  apps/docs/content/docs/services/thelounge/configuration.mdx
Due: none

docs(agents): infra/AGENTS.md
  infra/AGENTS.md
Due: none

chore(infra): infra/compose/fluux-messenger.yaml
  infra/compose/fluux-messenger.yaml
Due: yaml-lint

chore(infra): infra/compose/irc.yaml
  infra/compose/irc.yaml
Due: yaml-lint

fix(bridge): apps/bridge/tests/unit/xmpp/test_xmpp_component_outbound.py
  apps/bridge/tests/unit/xmpp/test_xmpp_component_outbound.py
Due: lint-bridge

docs: apps/docs/content/docs/operations/deployment.mdx
  apps/docs/content/docs/operations/deployment.mdx
Due: none

docs: apps/docs/content/docs/services/bridge/index.mdx
  apps/docs/content/docs/services/bridge/index.mdx
Due: none

docs(agents): scripts/AGENTS.md
  scripts/AGENTS.md
Due: none

chore(scripts): scripts/init.sh
  scripts/init.sh
Due: none

chore(scripts): scripts/prepare-config.sh
  scripts/prepare-config.sh
Due: none

chore(infra): infra/nginx/prosody-https.conf.template
  infra/nginx/prosody-https.conf.template
Due: none

chore(infra): infra/compose/xmpp.yaml
  infra/compose/xmpp.yaml
Due: yaml-lint

chore(infra): justfile
  justfile
Due: none

refactor(handlers): streamline identity handling in IRC message processing
  apps/bridge/src/bridge/adapters/irc/handlers.py
Due: lint-bridge

refactor(handlers): simplify real JID retrieval in group chat message processing
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
Due: lint-bridge

chore(infra): add Python verification checks to justfile
  justfile
Due: none

chore(dependencies): format dependencies and markers in pyproject.toml for consistency
  pyproject.toml
Due: none

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  33fa35d47de24096ce6fd272ff326be3720571f7
Due: none

feat(bridge): replace reply button with OOYE-style -# > subtext
  apps/bridge/src/bridge/adapters/discord/adapter.py
  apps/bridge/src/bridge/adapters/discord/reply_emoji.py
  apps/bridge/src/bridge/adapters/discord/webhook.py
  apps/bridge/src/bridge/assets/L1.png
  apps/bridge/src/bridge/assets/L2.png
Due: lint-bridge

feat(bridge): add XMPP typing support via XEP-0085
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

feat(bridge): add +typing=done propagation with auto-clear timers
  apps/bridge/src/bridge/adapters/irc/adapter.py
  apps/bridge/src/bridge/adapters/irc/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
  apps/bridge/src/bridge/core/events.py
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

feat(xmpp): handle chatstate_inactive and thread reply author/body through send_message_as_user
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

fix(xmpp): set raw["spoiler"] instead of raw["spoiler_hint"] for XEP-0382
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
Due: lint-bridge

fix(xmpp): use XEP-0461 proper API for replies with author JID and quoted fallback
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
Due: lint-bridge

feat(xmpp): pass reply author nick and body from event raw to outbound send
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
Due: lint-bridge

fix(relay): forward spoiler and reply_quoted fields from evt.raw to ctx.raw
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

feat(pipeline): include spoiler_reason as hint prefix in Discord wrap_spoiler
  apps/bridge/src/bridge/gateway/steps.py
Due: lint-bridge

test(xmpp): update spoiler tests to expect clean body and raw["spoiler"] flag
  apps/bridge/tests/unit/xmpp/test_xmpp_component.py
Due: lint-bridge

test(pipeline): add wrap_spoiler Discord hint test
  apps/bridge/tests/unit/gateway/test_pipeline_steps.py
Due: lint-bridge
