Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}

yaml-lint:
  run: yamllint {files}

chore(workflows): remove manual Docker push workflow and update Docker workflow for main branch
  .github/workflows/docker-push.yml
  .github/workflows/docker.yml
Due: yaml-lint

feat(identity): restore discord_to_irc/xmpp and add portal discordId lookup
  TODO.md
  src/bridge/identity.py
Due: none

fix(identity): snake_case field names, add irc/xmpp_to_discord, fix has_irc/has_xmpp
  src/bridge/adapters/xmpp_component.py
  src/bridge/identity.py
Due: none

chore(release): 0.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: Implement `TTLCache` for avatar and webhook caches and reuse `aiohttp.ClientSession` for HTTP requests.
  src/bridge/adapters/disc.py
  src/bridge/adapters/xmpp_component.py
  tests/test_xmpp_component.py
Due: none

chore(release): 0.2.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: update project dependencies and configuration.
  pyproject.toml
Due: none

tests: Add extended tests for identity resolver, IRC adapter, and other bridge components, improving coverage for previously uncovered methods.
  tests/test_identity_extended.py
  tests/test_irc_adapter_extended.py
  tests/test_irc_message_split_utf8.py
  tests/test_main.py
  tests/test_xmpp_component_outbound.py
Due: none

fix: Update LICENSE
  LICENSE
Due: none

test: Standardize test cases across multiple modules to follow the Arrange, Act, Assert pattern for improved clarity.
  tests/test_identity_extended.py
  tests/test_irc_adapter_extended.py
  tests/test_irc_message_split_utf8.py
  tests/test_main.py
  tests/test_xmpp_component_outbound.py
Due: none

chore(release): 0.2.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: Add python-semantic-release as a development dependency.
  pyproject.toml
  uv.lock
Due: none

fix: version system
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: yaml-lint

chore(release): 0.1.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

ci: fix workflow_dispatch for docker build, add --frozen and cache to uv sync, fix PSR config
  .github/workflows/docker.yml
Due: yaml-lint

chore: update license
  LICENSE
  README.md
Due: none

feat: add virtual host modules and bridge component configuration
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

chore: update Prosody version to 13.0.3 in Containerfile
  apps/prosody/Containerfile
Due: none

chore: update Prosody modules list to reflect built-in modules and add new admin API
  apps/prosody/modules.list
Due: none

refactor: simplify gencloak command in justfile
  apps/unrealircd/justfile
Due: none

feat: add atl-bridge service configuration to Docker Compose
  infra/compose/bridge.yaml
Due: yaml-lint

fix: update XMPP_DOMAIN environment variable in Prosody configuration
  infra/compose/xmpp.yaml
Due: yaml-lint

feat: add script to generate and update cloak keys in .env
  scripts/gencloak-update-env.sh
Due: none

fix: update permissions for private key in init script
  scripts/init.sh
Due: none

feat: add property tests for bridge compose environment variable coverage
  tests/unit/test_bridge_compose_env_coverage.py
Due: none

feat: add property tests for .env.example variable completeness
  tests/unit/test_env_registry_completeness.py
Due: none

refactor: update project name and dependencies in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

chore: add .gitmodules file for bridge submodule integration
  .gitmodules
Due: none

chore: update .gitignore to exclude additional hypothesis constants
  .gitignore
Due: none

chore: update .env.example with new bridge and portal integration variables
  .env.example
Due: none

refactor: consolidate bridge services into a single Discord↔IRC↔XMPP submodule
  .cursor/plans/atl.chat_codebase_architecture_audit_a6482578.plan.md
  .cursor/plans/flatten_apps_structure_0790d58e.plan.md
  README.md
  apps/biboumi/README.md
  apps/biboumi/compose.yaml
  apps/matterbridge/Containerfile
  apps/matterbridge/README.md
  apps/matterbridge/compose.yaml
  apps/matterbridge/matterbridge.toml
  docs/README.md
  docs/architecture/README.md
  docs/bridges/README.md
  infra/compose/bridge.yaml
Due: yaml-lint

chore: add configuration template for ATL Bridge with channel mappings and settings
  config.template.yaml
Due: yaml-lint

chore: update .gitignore to exclude the entire hypothesis directory
  .gitignore
Due: none

docs: add bridge configuration path to data structure documentation
  docs/infra/data-structure.md
Due: none

fix: update bridge configuration path in docker-compose file
  infra/compose/bridge.yaml
Due: yaml-lint

feat: enhance bridge configuration setup in prepare-config script
  scripts/prepare-config.sh
Due: none

feat(irc): add irc_tls_verify for dev/prod self-signed cert support
  config.template.yaml
  src/bridge/adapters/irc.py
  src/bridge/adapters/irc_puppet.py
  src/bridge/config.py
  tests/test_irc_puppet.py
Due: yaml-lint

chore(bridge): add ATL_ENVIRONMENT, BRIDGE_IRC_TLS_VERIFY for dev/prod
  .env.example
  infra/compose/bridge.yaml
  scripts/prepare-config.sh
Due: yaml-lint

chore(bridge): post-merge cleanup - docs, CI, uv workspace
  .github/workflows/bridge-ci.yml
  README.md
  docs/bridges/README.md
  infra/compose/bridge.yaml
  pyproject.toml
  uv.lock
Due: yaml-lint

feat(bridge): add implementation plans for multi-protocol bridging and QoL features
  .cursor/plans/bridge_implementation_stages_b21ce01f.plan.md
  .cursor/plans/bridge_qol_and_customization_ee5fe085.plan.md
  .cursor/plans/custom_discord_irc_xmpp_bridge_0068eac0.plan.md
Due: none

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  yaml-lint: any of: *.{yml,yaml}
