Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lint-irc:
  run: shellcheck {files}

lint-xmpp:
  run: luacheck {files}

lint-web:
  run: pnpm run fix {files} && pnpm run check {files}
  stage_fixed: true

lint-bridge:
  run: uv run ruff check --fix src tests && uv run ruff format src tests
  stage_fixed: true

yaml-lint:
  run: yamllint {files}

fix(gateway): log error not warning for invalid regex patterns in content filter
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

fix(gateway): log error on duplicate channel mapping detection
  apps/bridge/src/bridge/gateway/router.py
Due: lint-bridge

fix(identity): use 12-digit suffix for dev IRC nick fallback to reduce collisions
  apps/bridge/src/bridge/identity/dev.py
Due: lint-bridge

fix(identity): add asyncio safety comment for circuit breaker state
  apps/bridge/src/bridge/identity/portal.py
Due: lint-bridge

test(gateway): update invalid regex assertion to expect logger.error
  apps/bridge/tests/unit/gateway/test_content_filter.py
Due: lint-bridge

test(identity): update dev nick fallback assertion for 12-digit suffix
  apps/bridge/tests/unit/identity/test_identity.py
Due: lint-bridge

test(xmpp): mock time.monotonic in msgid cleanup tests to bypass throttle
  apps/bridge/tests/unit/tracking/test_xmpp_msgid.py
Due: lint-bridge

test(xmpp): mock _resolve_avatar_url to avoid HTTP call in avatar_url_none test
  apps/bridge/tests/unit/xmpp/test_xmpp_component.py
Due: lint-bridge

docs(bridge): add complete two-pass source code audit with 55 issues across 29 files
  apps/bridge/AUDIT.md
Due: none

feat(config): add irc_history_replay_threshold_seconds config field
  apps/bridge/src/bridge/config/schema.py
Due: lint-bridge

refactor(irc): wire history replay threshold to config
  apps/bridge/src/bridge/adapters/irc/handlers.py
Due: lint-bridge

docs(discord): document multi-instance webhook name collision limitation
  apps/bridge/src/bridge/adapters/discord/webhook.py
Due: lint-bridge

chore(audit): mark 18 resolved items in AUDIT.md
  apps/bridge/AUDIT.md
Due: none

fix(formatting): exclude PUA sentinel codepoints from plain-text roundtrip test
  apps/bridge/src/bridge/formatting/markdown.py
  apps/bridge/tests/property/test_formatting_roundtrip.py
Due: lint-bridge

chore(luacheckrc): add additional globals for custom Prosody plugins
  .luacheckrc
  compose.dev-override.yaml
  compose.prod-override.yaml
Due: yaml-lint

chore(gitignore): add AUDIT.md to ignore list
  .gitignore
  apps/bridge/AUDIT.md
Due: none

fix(types): resolve two basedpyright errors in test files
  apps/bridge/tests/unit/irc/test_irc_adapter.py
  apps/bridge/tests/unit/xmpp/test_xmpp_component.py
Due: lint-bridge

Notes added by 'git notes add'
  f947687f0357d36c06ea8732ca65c8756805b654
Due: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

feat(xmpp): derive MUC puppet nick from JID local part; optional suffix
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
  apps/bridge/src/bridge/adapters/xmpp/media.py
  apps/bridge/src/bridge/adapters/xmpp/outbound.py
  apps/bridge/src/bridge/identity/sanitize.py
  apps/bridge/tests/unit/identity/test_sanitize.py
  apps/bridge/tests/unit/xmpp/test_xmpp_component_outbound.py
  apps/bridge/tests/unit/xmpp/test_xmpp_retraction_fallback.py
Due: lint-bridge

docs(bridge): document xmpp muc puppet nick and reference findings
  apps/bridge/AGENTS.md
  apps/bridge/docs/xmpp-muc-nick-findings.md
Due: none

feat(bridge/xmpp): add rich vCard fields (FN, NICKNAME) to puppet profiles
  apps/bridge/src/bridge/adapters/xmpp/avatar.py
Due: lint-bridge

feat(bridge/xmpp): add PubSub vCard4 handler and disco features for Gajim
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

feat(bridge/xmpp): pass display_name and origin to vCard publisher
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
Due: lint-bridge

test(bridge/xmpp): update tests for vCard display_name and origin kwargs
  apps/bridge/tests/unit/xmpp/test_xmpp_adapter.py
  apps/bridge/tests/unit/xmpp/test_xmpp_component_outbound.py
Due: lint-bridge

fix(prosody): fix MUC owner affiliation config for bridge
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

feat(bridge): discord voice message handling, XMPP handler improvements, nick sanitization
  apps/bridge/src/bridge/adapters/discord/adapter.py
  apps/bridge/src/bridge/adapters/discord/handlers.py
  apps/bridge/src/bridge/adapters/discord/outbound.py
  apps/bridge/src/bridge/adapters/xmpp/handlers.py
  apps/bridge/src/bridge/identity/sanitize.py
Due: lint-bridge

test(bridge): update discord and identity test suites
  apps/bridge/tests/unit/discord/test_discord_adapter.py
  apps/bridge/tests/unit/discord/test_discord_voice_message.py
  apps/bridge/tests/unit/identity/test_sanitize.py
Due: lint-bridge

docs(bridge): update AGENTS.md, MUC nick findings, justfile
  AGENTS.md
  apps/bridge/AGENTS.md
  apps/bridge/docs/xmpp-muc-nick-findings.md
  apps/bridge/justfile
Due: none

fix(fluux-messenger): update nginx config, entrypoint, AGENTS.md
  apps/fluux-messenger/AGENTS.md
  apps/fluux-messenger/docker-entrypoint.sh
  apps/fluux-messenger/nginx-plain.conf.template
  apps/fluux-messenger/nginx-tls.conf.template
Due: none

chore(infra): update compose files, nginx config, env examples, Prosody Containerfile, docs, justfile
  .env.dev.example
  .env.example
  apps/docs/content/docs/reference/environment-variables.mdx
  apps/docs/content/docs/reference/ports.mdx
  apps/prosody/Containerfile
  infra/compose/bridge.yaml
  infra/compose/fluux-messenger.yaml
  infra/compose/xmpp.yaml
  infra/nginx/prosody-https.conf.template
  justfile
Due: yaml-lint

docs(bridge/xmpp): update AGENTS.md and docstrings for vCard4/PubSub changes
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/adapters/xmpp/avatar.py
  apps/bridge/src/bridge/adapters/xmpp/component.py
Due: lint-bridge

docs(bridge): update docstrings and comments for accuracy
  apps/bridge/src/bridge/adapters/irc/puppet.py
  apps/bridge/src/bridge/adapters/xmpp/adapter.py
  apps/bridge/src/bridge/adapters/xmpp/avatar.py
Due: lint-bridge

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  apps/bridge/pyproject.toml
  apps/web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  130170e1d50ce0e91177bb8961ceec58180637bb
Due: none

Path conditions:
  lint-irc: any of: scripts/**/*.sh and ^\./
  lint-xmpp: any of: *.lua
  lint-web: any of: apps/web/**/*.{js,ts,jsx,tsx} and ^apps/web/
  lint-bridge: any of: apps/bridge/**/*.py and ^apps/bridge/
  yaml-lint: any of: *.{yml,yaml}
