Repository allthingslinux/atl.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint-irc, lint-xmpp, lint-web, lint-bridge, yaml-lint

lefthook.yml:

# Lefthook - Git Hook Manager for Polyglot Monorepo
# Configured for parallel execution and path filtering

pre-commit:
  parallel: true
  commands:
    lint-irc:
      root: .
      glob: "scripts/**/*.sh"
      run: shellcheck {files}
    lint-xmpp:
      glob: "*.lua"
      run: luacheck {files}
    lint-web:
      root: apps/web/
      glob: "apps/web/**/*.{js,ts,jsx,tsx}"
      run: pnpm run fix {files} && pnpm run check {files}
      stage_fixed: true
    lint-bridge:
      root: apps/bridge/
      glob: "apps/bridge/**/*.py"
      run: uv run ruff check --fix src tests && uv run ruff format src tests
      stage_fixed: true
    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint {files}

fix(bridge): update Discord channel ID and XMPP MUC JID in configuration template
  apps/bridge/config.template.yaml
Due: yaml-lint

chore(init): enhance environment variable loading and update certificate generation
  scripts/init.sh
Due: none

chore(config): enhance environment variable loading with .env.dev support
  scripts/prepare-config.sh
Due: none

feat(config): add bridge oper class and atl-bridge operator configuration
  apps/unrealircd/config/unrealircd.conf.template
Due: none

chore(config): add .env.dev.example to cursorignore
  .cursorignore
Due: none

feat(config): add .env.dev.example for development environment configuration
  .env.dev.example
  .env.example
Due: none

fix(docs): correct instructions for .env.dev file creation in AGENTS.md
  AGENTS.md
Due: none

chore(.gitignore): include .env.dev.example in version control
  .gitignore
Due: none

docs(AGENTS.md): update webhook handling and XMPP component behavior
  apps/bridge/src/bridge/adapters/AGENTS.md
Due: none

fix(tests): update webhook edit test to remove username parameter
  apps/bridge/tests/test_discord_adapter.py
Due: lint-bridge

feat(tests): integrate ReactionTracker into IRCClient tests
  apps/bridge/tests/test_irc_client.py
Due: lint-bridge

feat(tests): add ReactionTracker to IRCClient test cases
  apps/bridge/tests/test_irc_exceptions.py
Due: lint-bridge

fix(tests): enhance XMPP adapter tests with fallback nick handling
  apps/bridge/tests/test_xmpp_adapter.py
Due: lint-bridge

feat(tests): add unit tests for JID node escaping and enhance session lifecycle tests
  apps/bridge/tests/test_xmpp_component_outbound.py
Due: lint-bridge

test: enhance XMPP component tests with additional state tracking
  apps/bridge/tests/test_xmpp_component.py
Due: lint-bridge

test: add unit tests for XMPPMessageIDTracker ID updates and alias handling
  apps/bridge/tests/test_xmpp_msgid.py
Due: lint-bridge

feat(relay): add xmpp_id_aliases to event payload in Relay class
  apps/bridge/src/bridge/gateway/relay.py
Due: lint-bridge

feat(xmpp): implement async nick resolution and improve message handling
  apps/bridge/src/bridge/adapters/xmpp.py
Due: lint-bridge

feat(xmpp): enhance XMPPMessageIDTracker with alias and stanza ID handling
  apps/bridge/src/bridge/adapters/xmpp_msgid.py
Due: lint-bridge

feat(xmpp): implement JID node escaping and enhance MUC handling
  apps/bridge/src/bridge/adapters/xmpp_component.py
Due: lint-bridge

feat(prosody): update configuration for enhanced module support and logging
  .luacheckrc
  apps/prosody/config/prosody.cfg.lua
Due: lint-xmpp

docs: update README with new dev environment setup and task commands
  README.md
  apps/bridge/README.md
Due: none

docs: update AGENTS.md to reflect changes in tests and message handling
  apps/bridge/AGENTS.md
  apps/bridge/src/bridge/AGENTS.md
  apps/bridge/src/bridge/adapters/AGENTS.md
  apps/bridge/src/bridge/gateway/AGENTS.md
  apps/bridge/tests/AGENTS.md
  apps/web/AGENTS.md
Due: none

feat(dependencies): add bridge as a new dependency and update configuration
  apps/bridge/pyproject.toml
  apps/bridge/src/bridge/__main__.py
  apps/bridge/src/bridge/adapters/disc.py
  apps/bridge/src/bridge/adapters/irc_msgid.py
  apps/bridge/src/bridge/adapters/xmpp.py
  apps/bridge/src/bridge/adapters/xmpp_component.py
  apps/bridge/src/bridge/adapters/xmpp_msgid.py
  apps/bridge/src/bridge/events.py
  apps/bridge/tests/harness.py
  apps/bridge/tests/test_bridge_flow.py
  apps/bridge/tests/test_config.py
  apps/bridge/tests/test_discord_adapter.py
  apps/bridge/tests/test_edge_cases.py
  apps/bridge/tests/test_error_handling.py
  apps/bridge/tests/test_events.py
  apps/bridge/tests/test_formatting.py
  apps/bridge/tests/test_httpx_exceptions.py
  apps/bridge/tests/test_identity.py
  apps/bridge/tests/test_identity_extended.py
  apps/bridge/tests/test_irc_adapter.py
  apps/bridge/tests/test_irc_adapter_extended.py
  apps/bridge/tests/test_irc_client.py
  apps/bridge/tests/test_irc_exceptions.py
  apps/bridge/tests/test_irc_puppet.py
  apps/bridge/tests/test_main.py
  apps/bridge/tests/test_message_ordering.py
  apps/bridge/tests/test_message_replies.py
  apps/bridge/tests/test_message_verification.py
  apps/bridge/tests/test_performance.py
  apps/bridge/tests/test_property_based.py
  apps/bridge/tests/test_relay.py
  apps/bridge/tests/test_retry_logic.py
  apps/bridge/tests/test_router.py
  apps/bridge/tests/test_xmpp_adapter.py
  apps/bridge/tests/test_xmpp_component.py
  apps/bridge/tests/test_xmpp_component_outbound.py
  pyproject.toml
  uv.lock
Due: lint-bridge

feat(integration): add The Lounge as a web-based IRC client to the atl.chat stack
  .cursor/plans/the_lounge_integration_3ba6e863.plan.md
  infra/AGENTS.md
  infra/compose/thelounge.yaml
Due: yaml-lint

fix(docs): update relaymsg module reference in The Lounge integration plan
  .cursor/plans/the_lounge_integration_3ba6e863.plan.md
Due: none

feat(plans): add IRC Puppets and Reference Insights plan documentation
  .cursor/plans/irc_puppets_and_reference_insights_2e3bda2d.plan.md
Due: none

feat(irc): implement RELAYMSG capability for stateless bridging
  apps/bridge/src/bridge/adapters/irc.py
Due: lint-bridge

feat(identity): introduce DevIdentityResolver for local development support
  apps/bridge/src/bridge/__main__.py
Due: lint-bridge

feat(config): add irc_relaymsg_clean_nicks property for cleaner relay message handling
  apps/bridge/src/bridge/config.py
Due: lint-bridge

feat(identity): enhance DevIdentityResolver with IRC nickname mapping and sanitization
  apps/bridge/src/bridge/identity.py
Due: lint-bridge

docs(AGENTS): add RELAYMSG handling details for stateless bridging
  apps/bridge/src/bridge/adapters/AGENTS.md
Due: none

feat(tests): add unit tests for DevIdentityResolver functionality
  apps/bridge/tests/test_identity.py
Due: lint-bridge

feat(tests): add tests for RELAYMSG handling in IRC client
  apps/bridge/tests/test_irc_client.py
Due: lint-bridge

feat(tests): add test for DevIdentityResolver creation with dev IRC puppets
  apps/bridge/tests/test_main.py
Due: lint-bridge

feat(thelounge): add initial configuration and command management for The Lounge web IRC client
  apps/thelounge/AGENTS.md
  apps/thelounge/config.js.template
  apps/thelounge/justfile
Due: none

feat(config): enhance unrealircd.conf.template with RELAYMSG support and The Lounge proxy configuration
  apps/unrealircd/config/unrealircd.conf.template
Due: none

feat(relaymsg): add relaymsg module for enhanced nickname handling and configuration
  apps/unrealircd/contrib/relaymsg/relaymsg.c
Due: none

fix(manage-modules): update module listing and documentation for relaymsg
  apps/unrealircd/scripts/manage-modules.sh
Due: none

docs(AGENTS): update documentation to include third-party modules and their descriptions
  apps/unrealircd/AGENTS.md
Due: none
